<!--##################################################################-->
<!--profileBilling-->
<!--##################################################################-->
<template name="profileBilling">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{_ "profile.billing"}}</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills justify-content-center nav-fill">
                <li class="active"><a class="btn" data-toggle="tab" href="#payment">{{_ "billing.payment.header"}}</a></li>
                <li><a class="btn" data-toggle="tab" href="#balance">{{_ "billing.balance.header"}}</a></li>
                <li><a class="btn" data-toggle="tab" href="#revenue">{{_ "billing.revenue.header"}}</a></li>
                <li><a class="btn" data-toggle="tab" href="#purchases">{{_ "billing.purchases.header"}}</a></li>
            </ul>

            <div class="tab-content">
                <div id="payment" class="tab-pane fade in active">
                    <h5>{{_ "billing.payment.actual"}}</h5>
                    {{#if hasPaymentMethod}}
                        <div class="list-group">
                            {{#each getPaymentMethod}}
                                <div class="list-group-item {{#if default}}list-group-item-success{{/if}}">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <img class="media-object" src="{{imageUrl}}" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{#if cardType}}{{cardType}}{{else}}
                                                PayPal{{/if}}</h4>
                                            {{#if cardType}}
                                                {{maskedNumber}} - {{expirationDate}}
                                            {{else}}
                                                {{email}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{else}}
                        <p class="alert alert-info">{{_ "billing.payment.empty"}}</p>
                    {{/if}}
                    <br>
                    <h5>{{_ "billing.payment.add"}}</h5>
                    <form role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="paymentMethodDropIn"></div>
                                <button type="submit" id="savePaymentBtn" class="btn btn-block btn-info btn-raised">{{_
                                        "billing.payment.save"}}</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="balance" class="tab-pane fade">
                    <br>
                    <strong class="pull-left">{{_ "billing.balance.header"}}: {{getPrice getBalance}}</strong>
                    {{#if hasBalance}}
                        <br><br>
                        <form role="form">
                            <div class="">
                                <div class="">
                                    <div id="payoutDropIn"></div>
                                    <button id="payoutBtn" type="submit" class="btn btn-info btn-block btn-raised">
                                        {{getPrice getBalance}} {{_ "billing.balance.disburse"}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    {{/if}}
                </div>

                <div id="revenue" class="tab-pane fade">
                    <br>
                    {{#if getRevenue.count}}
                        <div class="list-group">
                            {{#each getRevenue}}
                                <a href="/cardset/{{cardset_id}}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{getCardsetName cardset_id}}</h4>
                                    <p class="list-group-item-text">{{_ "billing.revenue.boughtFrom"}} {{user_id}} {{_
                                            "billing.revenue.for"}} {{getPrice amount}} {{_
                                            "billing.revenue.at"}} {{getDate}}</p>
                                </a>
                            {{/each}}
                        </div>
                    {{else}}
                        <p class="alert alert-info">{{_ "billing.revenue.empty"}}</p>
                    {{/if}}
                </div>

                <div id="purchases" class="tab-pane fade">
                    <br>
                    {{#if getInvoices.count}}
                        <div class="list-group">
                            {{#each getInvoices}}
                                <a href="/cardset/{{cardset_id}}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{getCardsetName cardset_id}}</h4>
                                    <p class="list-group-item-text">{{_ "billing.purchases.boughtFor"}} {{getPrice
                                            amount}} {{_
                                            "billing.purchases.at"}} {{getDate}}</p>
                                </a>
                            {{/each}}
                        </div>
                    {{else}}
                        <p class="alert alert-info">{{_ "billing.purchases.empty"}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
