
<!--##################################################################-->
<!--profileMembership-->
<!--##################################################################-->
<template name="profileMembership">
    <div id="profile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{_ "billing.plan.header"}}</h3>
            </div>
            <div class="panel-body">
                <div>{{_ "billing.plan.desc"}}</div>
                <br>
                <div class="col-md-6">
                    <div class="panel price {{#if isInRole 'standard'}}panel-success{{else}}panel-default{{/if}}">
                        <div class="panel-heading  text-center standard-membership">
                            <h3>{{_ 'access-level.edu.short'}}</h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="lead">
                                <h2>{{getPrice "0"}}</h2>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item green-passage"><i class="fa fa-check"></i> {{_
                                    "billing.plan.free"}}</li>
                            {{#if isInRole 'university'}}
                                <li class="list-group-item green-passage"><i class="fa fa-university"></i> {{_
                                        "billing.plan.edu"}}</li>
                                <!--add new class "red-passage" to change text to red, and add third listgroup to Standard User-->
                                <li class="list-group-item red-passage"><i class="fa fa-star"></i> {{_
                                        "billing.plan.pro"}}</li>
                            {{/if}}
                        </ul>
                        <div class="panel-footer">
                            {{#if isInRole 'pro'}}
                                <button type="submit" id="downgrade" class="btn btn-danger btn-raised btn-block">{{_
                                        "billing.plan.back"}}</button>
                            {{else}}
                                <button id="downgrade" class="btn btn-default btn-raised btn-block disabled"
                                        href="#">{{_
                                        "billing.plan.actual"}}</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel price {{#if isInRole 'pro'}}panel-success{{else}}panel-default{{/if}}">
                        <div class="panel-heading  text-center pro-membership">
                            <h3>{{_ 'access-level.pro.short'}}</h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="lead">
                                <h2>{{getPrice "6.99"}} / {{_ "billing.plan.month"}}</h2></div>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item green-passage"><i class="fa fa-check"></i> {{_
                                    "billing.plan.free"}}</li>
                            <li class="list-group-item green-passage"><i class="fa fa-university"></i> {{_
                                    "billing.plan.edu"}}</li>
                            <li class="list-group-item green-passage"><i class="fa fa-star"></i> {{_
                                    "billing.plan.pro"}}</li>
                        </ul>
                        <div class="panel-footer">
                            {{#if isInRole 'pro'}}
                                <button id="upgrade" class="btn btn-block btn-success btn-raised disabled">{{_
                                        "billing.plan.actual"}}</button>
                            {{else}}
                                <form role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="subscribe-form"></div>
                                            <button type="submit" id="upgrade"
                                                    class="btn btn-block btn-info btn-raised col-xs-12">{{_
                                                    "billing.plan.subscribe"}}</button>
                                        </div>
                                    </div>
                                </form>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{_ "billing.plan.lecturer"}}</h4>
            </div>
            <div class="panel-body">
                {{#if isInRole 'lecturer'}}
                    {{_ "billing.plan.lecturerActivatet"}}
                {{else}}
                    {{#if hasUserData}}
                        <form class="form-horizontal" id="lecturerRequestForm">
                            <button type="button" id="sendLecturerRequest"
                                    class="btn btn-info btn-raised pull-right">{{_
                                    "billing.plan.send"}}</button>
                        </form>
                    {{else}}
                        Geben Sie zuerst Ihre Kontaktdaten an um eine Anfrage zu stellen.
                        <a class="btn btn-default btn-xs pull-right" href="/profile/{{currentUser._id}}/settings">Kontaktdaten
                            angeben</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
