<template name="admin_settings">
    <div class="content-header">
        <h1>
            {{_ "admin.settings"}}
        </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-mail">

            <h3 class="panel-title">{{_ "pomodoro.backend.settings.title"}}</h3>
        </div>
        <div class="panel-body panel-body-mail">
            <div class="row" style="margin-bottom:10px; margin-left: 5px">
                <form>
                    {{#if isWordcloudPomodoroEnabled}}
                        <a id="disableWordcloudPomodoro" class="btn btn-raised btn-success">
                            {{_ "pomodoro.backend.settings.button.enabled"}}</a>
                    {{else}}
                        <a id="enableWordcloudPomodoro" class="btn btn-raised btn-danger">
                            {{_ "pomodoro.backend.settings.button.disabled"}}</a>
                    {{/if}}
                </form>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-mail">

            <h3 class="panel-title">{{_ "admin.mail-settings.mail-settings"}}</h3>
        </div>
        <div class="panel-body panel-body-mail">
            <div class="row" style="margin-bottom:10px; margin-left: 5px">
                <form>
                    {{#if isMailEnabled}}
                        <a id="disableMail" class="btn btn-raised btn-success">
                            {{_ "admin.mail-settings.enabled"}}</a>
                        {{else}}
                        <a id="enableMail" class="btn btn-raised btn-danger">
                            {{_ "admin.mail-settings.disabled"}}</a>
                        {{/if}}
                </form>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-test-notifications">

            <h3 class="panel-title">{{_ "admin-settings.test-notifications.title"}}</h3>
        </div>
        <div class="panel-body panel-body-notifications-test">
            <div class="row" style="margin-bottom:10px; margin-left: 5px">
                <form>
                    <div class="form-group">
                        <label id="targetInfo">{{_ "admin-settings.test-notifications.target"}}</label>
                        {{getNotificationTargetText}}
                    </div>
                    <div class="form-group">
                        <label id="cardsetOwnerAdminLabel">{{_ "admin-settings.test-notifications.setTargetID"}}</label>
                        <input class="form-control" type="text" id="notificationTarget"
                               value="">
                        <a id="setNotificationTarget" class="btn btn-raised btn-success">
                            {{_ "admin-settings.test-notifications.setTarget"}}</a>
                        <label id="setTargetInfo" for="setNotificationTarget"
                               style="visibility: hidden;"></label>
                        <br>
                        <br>
                        {{#if checkNotificationTarget}}
                            <label id="targetInfo">{{_ "admin-settings.test-notifications.send"}}</label>
                            <a id="sendMail" class="btn btn-raised btn-success">
                                {{_ "admin-settings.test-notifications.sendMail"}}</a>
                            <a id="sendWeb" class="btn btn-raised btn-success">
                                {{_ "admin-settings.test-notifications.sendWeb"}}</a>
                            <label id="sendInfo" style="visibility: hidden;"></label>
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>