<template name="filterItemDisplayModeButton">
    <li class="dropdown hidden-xs">
        <a id="displayModeBtn"
                role="button">
            {{#if isWordcloudActive}}
                {{_ "filter-pool.displayMode.list"}}
                {{else}}
                {{_ "filter-pool.displayMode.wordcloud"}}
            {{/if}}
        </a>
    </li>
</template>
