<template name="filterItemResetButton">
    <li>
        <button class="resetFilters btn btn-raised visible-md visible-lg" id="resetBtn"
                role="button" {{isDisabled}}><i class="glyphicon glyphicon-filter"></i> {{_ "set-list.reset"}}
        </button>
    </li>
</template>
