<template name="cancelEditForm">
    <div class="modal fade" id="cancelEditModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteCardsTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <h4 id="cancelEditTitle" class="modal-title">{{_ "modal-dialog.cancelEditCardTitle"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.cancelEditCard"}}
                    <button id="cancelEditConfirm" class="btn btn-raised btn-danger btn-block col-xs-12 col-sm-3">{{_
                            "modal-dialog.cancelEditCardTitle"}}</button>
                    <button id="cancelEditDismiss" class="btn btn-raised btn-default btn-block col-xs-12 col-sm-3"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
