<template name="selectLearningUnit">
    <div class="modal fade" id="showSelectLearningUnitModal" role="dialog">
        <div class="modal-dialog" aria-labelledby="showSelectLearningUnitTitle">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="showSelectLearningUnitTitle" class="modal-title">{{_ "learningUnit.chooseIndex"}}</h4>
                    <div class="modal-body">
                        <button id="learningUnitCancel"
                                class="btn btn-danger btn-raised" {{disableIfOffline}}>
                            {{_ "learningUnit.cancel"}}
                        </button>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="form-group setdetails name">
                                    <label id="setLearningIndexLabel" class="col-md-3 control-label"
                                           for="setLearningIndex">{{_
                                            "card.cardType0.name"}}</label>
                                    <div class="dropdown">
                                        <div class="btn-group col-xs-12 col-sm-12 col-md-9">
                                            <button id="setLearningIndex" type="button"
                                                    class="btn btn-raised btn-default setLearningIndexDropdown longButton"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"
                                                    value="{{getCardsetId}}">{{getCardsetName}}
                                            </button>
                                            <button type="button"
                                                    class="btn btn-raised dropdown-toggle setLearningIndexDropdown"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only"></span>
                                            </button>
                                            <ul class="dropdown-menu btn-raised longButton">
                                                <li class="learningIndex" value="0" data="0">
                                                    <a
                                                            href="#">{{_ "learningUnit.none"}}</a></li>
                                                {{#each learningIndex}}
                                                    <li class="learningIndex" value="{{this._id}}" data="{{this._id}}">
                                                        <a
                                                                href="#">{{this.name}}</a></li>
                                                {{/each}}
                                            </ul>
                                            <span id="helpSetLearningIndex" class="help-block learningIndex"></span>
                                        </div>
                                    </div>
                                </div>
                                {{#if gotLearningIndex}}
                                    <hr>
                                    <h4>{{_ "learningUnit.chooseUnit"}}</h4>
                                    {{> cardsetList}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
