<template name="leaveEditorsForm">
    <div class="modal fade" id="leaveEditorsModal" tabindex="-1" role="dialog" aria-labelledby="leaveEditorsTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    <h4 id="leaveEditorsTitle" class="modal-title">{{_ "confirm-leave-editors.title"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "confirm-leave-editors.text" name= this.name}}</p>
                    <br>
                    <hr>
                    <button id="leaveEditorsConfirm" class="btn btn-block btn-raised btn-default btn-danger">{{_
                            "confirm-leave-editors.btn-txt"}}</button>
                    <button id="leaveEditorsCancel" class="btn btn-default btn-block btn-raised"
                            data-dismiss="modal">{{_ "modal-dialog.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
