<template name="cardsetImportForm">
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="importModalTitle" class="modal-title">{{_ "upload-form.upload-title"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="importTypeGroup" class="form-group btn-group" role="group" data-toggle="buttons">
                        <label id="importType1"
                               class="btn btn-default btn-white import-type {{#if importType 1}}active{{/if}}"
                               data-type="1">
                            {{#if importType 1}}
                                <input type="radio" id="tabFocus" name="cardType" value="1" checked
                                       data-type="1">
                            {{else}}
                                <input type="radio" name="cardType" value="1" data-type="1">
                            {{/if}}
                            {{_ "upload-form.upload-type1" lastAppTitle=(getLastAppTitle)}}
                        </label>
                        <label id="importType2"
                               class="btn btn-default btn-white import-type {{#if importType 2}}active{{/if}}"
                               data-type="2" data-toggle="modal"
                               data-target="#underDevelopmentModal">
                            {{#if importType 2}}
                                <input type="radio" id="tabFocus" name="cardType" value="2" checked
                                       data-type="2">
                            {{else}}
                                <input type="radio" name="cardType" value="2" data-type="2">
                            {{/if}}
                            {{_ "upload-form.upload-type2"}}
                        </label>
                    </div>
                    {{#if importType 1}}
                        <hr/>
                        <h4>{{_ "upload-form.upload-type"}}</h4>
                        <p>{{_ "upload-form.popover-content"}}</p>
                        <a role='button' target='_blank' class='btn btn-default'
                           href='/examples/example.json'>JSON</a>
                        <a role='button' target='_blank' class='btn btn-default'
                           href='/examples/example.csv.txt'>CSV</a>
                    {{/if}}
                    <hr/>
                </div>
                <div class="modal-footer">
                    {{#unless uploading}}
                        <button id="importCancel" class="btn btn-default btn-raised btn-block col-xs-12 col-sm-4"
                                data-dismiss="modal">{{_
                                "modal-dialog.cancel"}}</button>
                        <span class="btn btn-success btn-file btn-raised col-xs-12 col-sm-4 pull-right">
							{{_ "upload-form.select-file"}}<input type="file" name="uploadFile">
					  </span>
                    {{else}}
                        <p><i class="fa fa-spin fa-refresh"></i>{{_ "upload-form.wait"}}</p>
                    {{/unless}}
                    <br>
                    <br>
                    <div id="uploadError"></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
