<template name="leaveLearnPhaseForm">
    <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveLearnPhaseTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    <h4 id="leaveLearnPhaseTitle" class="modal-title">{{_ "confirm-leave-learnphase.title"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "confirm-leave-learnphase.text"}}</p>
                    <br>
                    <hr>
                    <button id="leaveLearnPhaseConfirm" class="btn btn-block btn-raised btn-default btn-danger">{{_
                            "confirm-leave-learnphase.btn-txt"}}</button>
                    <button id="leaveLearnPhaseCancel" class="btn btn-default btn-block btn-raised"
                            data-dismiss="modal">{{_ "modal-dialog.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
