<template name="reportCardsetForm">
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog"
         aria-labelledby="reportModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="reportModalTitle" class="modal-title">{{_ "modal-dialog.report"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{_ "modal-dialog.cardsetowner"}}</label>
                            <p class="col-md-9">
                                {{getAuthorName this.owner}}
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{_ "modal-dialog.cardsetname"}}</label>
                            <p class="col-md-9">
                                {{name}}
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{_ "modal-dialog.reason"}}</label>
                            <div class="input-group">
                                <select id="reportCardsetReason" class="form-control">
                                    {{#unless userDeleted}}
                                        <option>{{_ "modal-dialog.reportuser"}}</option>
                                    {{/unless}}
                                    <option>{{_ "modal-dialog.reportcardset"}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text">
                            <label id="reportCardsetTextLabel" class="col-md-3 control-label"
                                   for="reportCardsetText">{{_ "modal-dialog.text"}}</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="6" id="reportCardsetText"></textarea>
                                <span id="helpReportCardsetText" class="help-block text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="reportCardsetCancel" class="btn btn-default btn-raised"
                            data-dismiss="modal">{{_ "modal-dialog.cancel"}}</button>
                    <button id="reportCardsetSave" class="btn btn-success btn-raised">{{_
                            "modal-dialog.submitcomplaint"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
