<template name="resetMemoForm">
    <div class="modal fade" id="resetMemoModal" tabindex="-1" role="dialog"
         aria-labelledby="resetMemoTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <h4 id="resetMemoTitle" class="modal-title">{{_ "resetWozniak"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.resetWozniak" name= this.name }}
                    <button id="resetMemoConfirm" class="btn btn-raised btn-danger btn-block col-xs-12 col-sm-3">{{_
                            "reset"}}</button>
                    <button id="resetMemoCancel" class="btn btn-raised btn-default btn-block col-xs-12 col-sm-3"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
