<template name="cardNavigation">
    <nav class="col-xs-12 cardNavigation cardtext cardToolbar nav nav-justified">
        {{#if isNavigationVisible}}
            {{#if isLearningMode}}
                {{#if isQuestionSide}}
                    {{> cardNavigationEnabledQuestion}}
                {{else}}
                    {{> cardNavigationEnabledAnswer}}
                {{/if}}
            {{else}}
                {{> cardNavigationEnabled}}
            {{/if}}
        {{else}}
            {{> cardNavigationDisabled}}
        {{/if}}
    </nav>
</template>

<template name="cardNavigationDisabled">
    <li><a class="btn btn-raised btn-primary">{{_ "card.navigationDisabled"}}</a></li>
</template>

<template name="cardNavigationEnabled">
    {{#each getCardTypeSides}}
        {{> cardNavigationItem this}}
    {{/each}}
</template>

<template name="cardNavigationEnabledAnswer">
    {{#each getCardTypeSides}}
        {{> cardNavigationItem this}}
    {{/each}}
</template>

<template name="cardNavigationEnabledQuestion">
    {{#each getCardTypeSides}}
        {{> cardNavigationItem this}}
    {{/each}}
</template>

<template name="cardNavigationItem">
    <li>
        <a class="btn {{#if isFirstButton this.index}}card-navigation-active{{else}}switchCardSide{{/if}} btn-raised"
           type="button"
           data-content-id="{{this.contentId}}"
           data-navigation-id="{{this.index}}" data-side="{{this.side}}"
           data-style="{{this.defaultStyle}}"
           tabindex="{{getTabIndex this.index}}">{{getTitle}}</a>
    </li>
</template>

<template name="cardArrowNavigation">
    {{#if isNavigationVisible}}
        {{#if isCardsetOrPresentation}}
            {{#unless cardCountOne}}
                <a id="leftCarouselControl" class="left carousel-control" href="#cardCarousel"
                   data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a id="rightCarouselControl" class="right carousel-control" href="#cardCarousel"
                   data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            {{/unless}}
        {{/if}}
    {{/if}}
</template>