<template name="helpContentCategoryPool">

    <h1>Themen-Pool</h1>

    <a href="/img/help/de/Themen-Pool.jpg" data-lightbox="img-1"
       data-title="Themen-Pool mit Such-, Sortier- und Filterfunktionen">
        <img src="/img/help/de/Themen-Pool.jpg" alt="Themen-Pool"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Suchfunktion:</strong> Tippe ein, was dich interessiert und schau, ob zu diesem Thema eine
            Lernkartei oder ein Repetitorium existiert.
            Gesucht wird im Titel und Beschreibungstext aller veröffentlichter Karteien und Repetitorien.
            Klick auf einen Treffer und du gelangst zu den Karten.
        </li>
        <li><strong>Sortier- und Filteroptionen:</strong> Karteien können im Tabellenkopf sortiert und gefiltert werden.
            Die Sortieroptionen sind: alphabetisch nach Karteititel, Erstellungs- oder Aktualisierungsdatum.
            Die Filteroptionen sind: Karteityp, Level, Autor/in, Bonus, Empholen und Zugangsart.
            Du kannst mehrere Filter gleichzeitig aktivieren. Die App merkt sich deine Einstellungen.
            Wenn du auf eine andere Seite wechselst und wieder zurückkehrst, sind die Filter noch aktiv.
        </li>
        <li><strong>Auswahl einer Kartei:</strong> Klickst du auf das Thema einer bestimmten Kartei, so
            gelangst du zur Detailansicht.
            Je nach deinen Benutzerrechten, kannst du dort die Kartei und ihre Karten editieren oder die Karten nur
            anschauen.
            Der Button ganz rechts mit der Pfeilspitze nach unten öffnet die vollständige Beschreibung der Kartei.
        </li>
    </ul>
</template>
