#contact {
  @media(max-width: 767px) {
    margin-bottom: 70px;
  }
}

@media(min-width: 768px) {
  #contact-nav {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1000;
  }

  #contact-nav {
    top: 0;
  }

  #theme-wrapper #contact-nav {
    top: 40px;
  }
}

@media(max-width: 767px) {
  .modal-footer button {
    margin: 10px 0 !important;
    width: 100% !important;
  }

  #contact-nav a {
    text-align: left;
    padding: 10px;
  }
}

#contact-nav a {
  border-radius: 0;
  margin-bottom: 0;
  outline: none;
  padding: 10px 0;
  @media(max-width: 767px) {
    padding: 10px 15px;
  }
  .fa-home {
    font-size: 15px;
  }
}

#contact-nav {
  -webkit-box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, 0.12), -3px 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, 0.12), -3px 1px 6px 0 rgba(0, 0, 0, 0.12);
}

#footer #contact-nav {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}

.info-tab {
  img {
    width: unset !important;
  }
}

.demo-padding {
  padding-left: 15px;
  padding-right: 15px;
}
