<template name="flashcardHeaderPresentationRight">
    <div class="col-xs-3 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>

<template name="flashcardHeaderDemoRight">
    <div class="col-xs-3 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>

<template name="flashcardHeaderDefaultRight">
    <div class="col-xs-3 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>

<template name="flashcardHeaderEditorRight">
    <div class="col-xs-3 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>

<template name="flashcardHeaderLeitnerRight">
    <div class="col-xs-3 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>

<template name="flashcardHeaderWozniakRight">
    <div class="col-xs-3 cardHeaderRight" data-cardtype="{{cardType}}">
    </div>
</template>
