<template name="main">
    <div id="pomodoroTimerOverlay"></div>
    {{checkIfUserIsSelectingACardset}}
    {{> connectionStatusModal}}
    {{> underDevelopmentModal}}
    {{> zoomTextOverlay}}
    {{> arsnovaClickModal}}
    {{> arsnovaAppModal}}
    {{> helpModal}}
    {{#unless fullscreenActive}}
        {{#if currentUser}}
            {{#if isInRole 'firstLogin'}}
            {{else if  isInRole 'blocked'}}
            {{else}}
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="{{#unless isActiveRoute
                                          regex='newCard|editCard'}}container{{else}}col-lg-offset-1 col-lg-10{{/unless}} thm-header">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                {{#if currentUser}}
                                    <p class="navbar-text visible-xs-inline-block">{{getMobileNavbarTitle}}</p>
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#thm-top-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                {{/if}}
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div id="searchResults" class="dropdown-menu list-group" style="{{#if
                                    searchCategories}}display: unset !important;{{else}}display: none !important;{{/if}}"
                                 data-toggle="collapse" data-target="#thm-top-navigation">
                                {{#each searchCategories}}
                                    <a href="/cardset/{{_id}}" class="list-group-item clearfix">
                                        <h4 class="list-group-item-heading search-subject search-subject-{{kind}}">{{name}}</h4>
                                        <p class="list-group-item-text search-content">{{#markdeep}}{{description}}{{/markdeep}}</p>
                                        {{#with getAuthor this.owner}}
                                            <p class="list-group-item-text search-author">{{_
                                                    "cardset.info.author"}}
                                                : {{givenname}} {{birthname}}</p>
                                        {{/with}}
                                    </a>
                                {{/each}}
                            </div>
                            <div class="collapse navbar-collapse" id="thm-top-navigation">
                                {{#if currentUser}}
                                    <ul id="navbar" class="nav navbar-nav">
                                        <li id="searchDropdown"
                                            class="navbar-form navbar-left input-append btn-group"
                                            role="search">
                                            <div class="searchItem col-xs-9">
                                                <input id="input-search" class="form-control typeahead"
                                                       name="search"
                                                       type="text"
                                                       autocomplete="off" spellcheck="off" data-source="search"
                                                       data-template="search"
                                                       placeholder="{{_ "navbar-collapse.search"}}">
                                            </div>
                                            {{#if searchActive}}
                                                <div id="clearSearch" class="searchItem col-xs-3">
                                                    <i class="glyphicon glyphicon-remove-circle pull-left"></i>
                                                </div>
                                            {{/if}}
                                        </li>
                                        <li id="navbar-pool"
                                            class="{{#if isActivePath regex='^\\/pool'}}active{{/if}}"
                                            data-toggle="collapse" data-target="#thm-top-navigation">
                                            <a href="{{pathFor route='pool'}}" id="pool">
                                                {{_ "navbar-collapse.pool"}}
                                            </a>
                                        </li>
                                        <li id="navbar-repetitorium"
                                            class="{{#if isActivePath regex='^\\/repetitorium'}}active{{/if}}"
                                            data-toggle="collapse" data-target="#thm-top-navigation">
                                            <a href="{{pathFor route='repetitorium'}}" id="repetitorium">
                                                {{_ "navbar-collapse.course"}}
                                            </a>
                                        </li>
                                        <li id="navbar-learn-decks"
                                            class="{{#if isActiveRoute regex='home|learn'}}active{{/if}}"
                                            data-toggle="collapse" data-target="#thm-top-navigation">
                                            <a href="{{pathFor route='learn'}}" id="learnsets">
                                                {{_ "navbar-collapse.learndecks"}}
                                            </a>
                                        </li>
                                        {{#if canCreateContent}}
                                            <li id="navbar-own-decks"
                                                class="{{#if isActiveRoute regex='home|create'}}active{{/if}} hidden-xs"
                                                data-toggle="collapse" data-target="#thm-top-navigation">
                                                <a href="{{pathFor route='create'}}" id="cardsets">
                                                    {{getMyCardsetName}}
                                                </a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                    <ul class="nav navbar-nav">
                                        <li id="navbar-help"
                                            class="{{#if isActiveRoute regex='help'}}active{{/if}}">
                                            <a href="/help" id="helpBtn">{{_ "contact.help"}}</a>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        {{#if isInRole 'admin, editor'}}
                                            <li id="navbar-all-decks"
                                                class="{{#if isActiveRoute regex='alldecks'}}active{{/if}}"
                                                data-toggle="collapse" data-target="#thm-top-navigation">
                                                <a href="{{pathFor route='alldecks'}}" id="alldecks">
                                                    {{_ "navbar-collapse.alldecks"}}
                                                </a>
                                            </li>
                                        {{/if}}
                                        {{#if isInRole 'admin, editor'}}
                                            <li id="navbar-adminpanel">
                                                <a href="{{pathFor route='admin_dashboard'}}" id="adminpanel">
                                                    {{_ "navbar-collapse.backend"}}
                                                </a>
                                            </li>
                                        {{/if}}
                                        <li id="navbar-profile"
                                            class="dropdown {{#if isActiveProfile}}active{{/if}}">
                                            <a href="#" id="dropdownMenuLink" class="dropdown-toggle"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="hidden-sm">
                                                        {{getUsername}} <span class="caret"></span>
                                                    </span>
                                                <span class="visible-sm">
                                                        {{_ "navbar-collapse.myprofile"}} <span class="caret"></span>
                                                    </span>
                                                {{#if countNotifications}}
                                                    <span class="badge">{{countNotifications}}</span>{{/if}}
                                            </a>

                                            <div id="profile-drop" class="dropdown-menu"
                                                 aria-labelledby="navbarDropdown">

                                                <table>
                                                    <tr class="{{#if isActiveRoute
                                                                     'profileOverview'}}active{{/if}}">
                                                        <td><a class="dropdown-item"
                                                               href="{{pathFor 'profileOverview'
                                                                               _id=currentUser._id}}"><i
                                                                class="fa fa-trophy"></i></a></td>
                                                        <td><a class="dropdown-item"
                                                               href="{{pathFor 'profileOverview'
                                                                               _id=currentUser._id}}">{{_
                                                                "profile.activity"}}</a></td>
                                                    </tr>
                                                    {{#if isInRole 'admin, editor'}}
                                                        <tr class="{{#if isActiveRoute
                                                                         'profileMembership'}}active{{/if}}">
                                                            <td><a class="dropdown-item"
                                                                   href="/profile/{{currentUser._id}}/membership"><i
                                                                    class="fa fa-users"></i></a></td>
                                                            <td><a class="dropdown-item"
                                                                   href="/profile/{{currentUser._id}}/membership">{{_
                                                                    "profile.membership"}}</a></td>
                                                        </tr>
                                                        <tr class="{{#if isActiveRoute 'profileBilling'}}active{{/if}}">
                                                            <td><a class="dropdown-item"
                                                                   href="/profile/{{currentUser._id}}/billing"><i
                                                                    class="fa fa-credit-card"></i></a></td>
                                                            <td><a class="dropdown-item"
                                                                   href="/profile/{{currentUser._id}}/billing">{{_
                                                                    "profile.billing"}}</a></td>
                                                        </tr>
                                                    {{/if}}
                                                    <tr class="{{#if isActiveRoute
                                                                     'profileNotifications'}}active{{/if}}">
                                                        <td><a class="dropdown-item notificationsBtn"
                                                               href="/profile/{{currentUser._id}}/notifications"><i
                                                                class="fa fa-bell"></i></a></td>
                                                        <td><a class="dropdown-item notificationsBtn"
                                                               href="/profile/{{currentUser._id}}/notifications">{{_
                                                                "profile.notifications"}}</a></td>
                                                    </tr>
                                                    <tr class="{{#if isActiveRoute
                                                                     'profileSettings'}}active{{/if}}">
                                                        <td><a class="dropdown-item"
                                                               href="/profile/{{currentUser._id}}/settings"><i
                                                                class="fa fa-user"></i></a></td>
                                                        <td><a class="dropdown-item"
                                                               href="/profile/{{currentUser._id}}/settings">{{_
                                                                "profile.settings.name"}}</a></td>
                                                    </tr>
                                                    {{#if isInRole 'lecturer'}}
                                                        <tr class="{{#if isActiveRoute
                                                                         'profileRequests'}}active{{/if}}">
                                                            <td><a class="dropdown-item"
                                                                   href="/profile/{{currentUser._id}}/requests"><i
                                                                    class="fa fa-check"></i></a></td>
                                                            <td><a class="dropdown-item"
                                                                   href="/profile/{{currentUser._id}}/requests">{{_
                                                                    "profile.requests"}}</a></td>
                                                        </tr>
                                                    {{/if}}
                                                    <tr class="hidden-xs logout logout-dropdown">
                                                        <td><a class="dropdown-item" href="#"><i
                                                                class="glyphicon glyphicon-log-out"></i></a></td>
                                                        <td><a class="dropdown-item" href="#">{{_
                                                                "profile.logout"}}</a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </li>
                                        <li id="navbar-logout"><a href="#" class="logout logout-main"><span
                                                class="hidden-xs"><i
                                                class="glyphicon glyphicon-log-out"></i></span><span
                                                class="visible-xs"><i
                                                class="glyphicon glyphicon-log-out"></i> {{_
                                                "profile.logout"}}</span>
                                        </a></li>
                                    </ul>
                                {{/if}}
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                </nav>
            {{/if}}
        {{/if}}
    {{/unless}}
    <div id="main" class="{{#if isActiveRoute
                                regex='presentation'}}presentation-container{{else}}{{#if isActiveRoute
                                                                                          regex='home'}}{{else}}{{#if
            isActiveRoute
            regex='newCard|editCard|cardsetstats'}}{{#if
            fullscreenActive}}container{{else}}container-fluid{{/if}}{{else}}{{#unless
            isFirstTimeVisit}}container{{/unless}}{{/if}}{{/if}}{{/if}}">
        <!-- AREA BETWEEN NAVIGATION AND FOOTER -->
        <div class="{{#if isActiveRoute regex='home'}}{{else}}{{#unless isFirstTimeVisit}}row{{/unless}}{{#if
                isActiveRoute
                regex='newCard|editCard'}}{{#unless
                fullscreenActive}}col-lg-11{{/unless}}{{/if}}{{/if}}">
            {{> yield}}
        </div>
    </div>
    {{#unless fullscreenActive}}
        {{#unless currentUser}}
            {{#unless isNotFirstDemoVisit}}
                {{> footer}}
            {{/unless}}
        {{/unless}}
    {{/unless}}
</template>

<template name="footer">
    {{#if displayFooterNavigation}}
        <div id="footer" class="footer">
            <ul class="container dropup">

                <li class="hidden-xs col-sm-11">
                    {{> contactNavigation}}
                </li>
                <li class="visible-xs col-xs-2 col-sm-1 icon-container">
                    <a id="info" href="{{pathFor route='about'}}"
                       aria-label="{{_ "footer.info" lastAppTitle=(getLastAppTitle)}}">
                        <p class="footer-icon"><span class="glyphicon glyphicon-info-sign"></span></p>
                    </a>
                </li>
                <li class="col-xs-1 {{#if isActiveRoute
                                          'home'}}icon-container{{else}}icon-container-info{{/if}} pull-right">
                    {{> connectionStatus}}
                </li>
            </ul>
        </div>
    {{/if}}
</template>

<template name="connectionStatus">
    <a id="connectionStatus" href="#" data-toggle="modal"
       data-target="#connectionStatusModal" aria-label="{{_ "footer.connection"}}">
        <p class="footer-icon"><span class="glyphicon glyphicon-signal {{getSignal}}"></span></p>
    </a>
</template>

<template name="connectionStatusModal">
    <div class="modal fade" id="connectionStatusModal" role="dialog">
        <div class="modal-dialog" aria-labelledby="showHintTitle">
            <div class="modal-content hintContent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="connectionStatusTitle" class="modal-title">{{_ "connection.title"
                                                                           lastAppTitle=(getLastAppTitle)}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td>
                                            {{_ "connection.webSocket"}}:
                                            {{#if isConnected}} {{_ "connection.connected"}} {{else}} {{_
                                                    "connection.disconnected"}} {{/if}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="underDevelopmentModal">
    <div class="modal fade" id="underDevelopmentModal" role="dialog">
        <div class="modal-dialog" aria-labelledby="showUnderDevelopmentTitle">
            <div class="modal-content underDevelopmentContent">
                <div class="modal-header">
                    <h4 id="underDevelopmentTitle" class="modal-title">{{_ "underDevelopment.title"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                {{_ "underDevelopment.text"}}
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
