.swal2-icon {
  font-size: $font_size_sweet_alert_2_icon !important;
}

#swal2-title {
  font-size: $font_size_sweet_alert_2_title !important;
}

#swal2-content, .swal2-confirm, .swal2-cancel {
  font-size: $font_size_sweet_alert_2_text !important;
}
