<!--##################################################################-->
<!--profileDeleteConfirmForm-->
<!--##################################################################-->
<template name="profileDeleteConfirmForm">
    <div class="modal fade" id="profileDelteConfirmModal" tabindex="-1" role="dialog"
         aria-labelledby="profileDelteConfirmModalTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="profileDelteConfirmModalTitle" class="modal-title">{{_ "confirm-form-profile.title"}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "confirm-form-profile.text" lastAppTitle=(getLastAppTitle)}}</p>
                    <br/>
                    <p>{{_ "confirm-form-profile.text2" lastAppTitle=(getLastAppTitle)}}</p>
                    <br/>
                    <hr/>

                    <button id="profileDelete"
                            class="btn btn-danger btn-raised btn-block col-xs-12 col-sm-3 btn-setDelete">{{_
                            "confirm-form-profile.title"}}</button>
                    <button id="profileCancel"
                            class="btn btn-default btn-raised btn-block col-xs-12 col-sm-3 pull-right"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
