<template name="cardsetNavigation">
    <div class="cardsetInfoFooter panel-footer">
        {{#if hasCardsetPermission}}
            {{#unless isInBonusAndNotOwner}}
                {{> cardsetNavigationPresentation}}
            {{/unless}}
            {{#if isInBonus}}
                {{> cardsetNavigationLearning}}
            {{else}}
                {{> cardsetNavigationWorkload}}
            {{/if}}
            {{> cardsetNavigationNewCard}}
            {{> cardsetNavigationEditRepetitorium}}
            {{> cardsetNavigationBonus}}
            {{> cardsetNavigationEditCardset}}
            {{> cardsetNavigationEditLicense}}
            {{> cardsetNavigationPublishCardset}}
            {{#unless isInBonusAndNotOwner}}
                {{> cardsetNavigationManage}}
            {{/unless}}
            {{> cardsetNavigationImport}}
            {{> cardsetNavigationExport}}
            {{> cardsetNavigationDeleteAllCards}}
        {{else}}
            {{> cardsetNavigationPresentation}}
        {{/if}}
    </div>
</template>
