<template name="cardsetInfoBoxItemActiveLearners">
    <tr>
        <td>{{_ "cardset.info.workload.normal.count"}}:</td>
        <td>{{getActiveLearnerCount this}}</td>
    </tr>
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "cardset.info.workload.bonus.count"}}:</td>
            <td>{{getActiveBonusLearnerCount this}}</td>
        </tr>
    {{/if}}
</template>
