<template name="cardsetInfoBoxItemCardType">
    {{#unless isShuffledCardset this._id}}
        {{#unless isActiveRoute regex="course"}}
            <tr>
                <td>{{_ "cardType"}}:</td>
                <td>
                    {{getCardType}}
                </td>
            </tr>
        {{/unless}}
    {{/unless}}
</template>
