<template name="cardsetInfoBoxItemDifficulty">
    {{#unless isShuffledCardset this._id}}
        {{#unless isActiveRoute regex="course"}}
            <tr>
                <td>{{#if gotNotesForDifficultyLevel}}{{_ "difficultyNotes"}}{{else}}{{_
                        "difficulty"}}{{/if}}:
                </td>
                <td>
                    {{getDifficultyName}}
                </td>
            </tr>
        {{/unless}}
    {{/unless}}
</template>
