<template name="helpContentCategoryLeitner">
    <p>
        Die <b>5-Fächer-Lernmethode von Leitner</b> legt bereits gelernte Karten in bestimmten länger
        werdenden
        Abständen zum wiederholten Lernen vor.
        Nicht erinnerte Karten werden ins erste Fach zurückgelegt.
        Auf diese Weise werden schwierige Lernkarten häufiger wiederholt als einfache.
        Die Intervalle zwischen den Fächern betragen in der Regel: täglich (1→2), wöchentlich (2→3),
        monatlich (3→4) und vierteljährlich (4→5).
        Karten im letzten Fach gelten als dauerhaft gelernt. Die tägliche Anzahl zu lernender Karten
        wird von der Lehrperson vorgegeben.
    </p>
    <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Leitner_system_alternative_no_text.svg/1000px-Leitner_system_alternative_no_text.svg.png"
       data-lightbox="img-1" data-title="Leitner-Lernmethode">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Leitner_system_alternative_no_text.svg/1000px-Leitner_system_alternative_no_text.svg.png"
             alt="Leitner-Lernmethode" class="img-responsive center-block"/>
    </a>
    <p class="text-center">
        <a href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">Wikipedia:
            &raquo;Lernkartei&laquo;</a> — Am Anfang befinden sich alle Karten im Fach 1.
    </p>

    <p>
        Im Lernmodus siehst du unsere <strong>Pomodoro-Uhr</strong> auf jeder Karte.
        Eine Pomodoro-Lernzeit beträgt 25 Minuten, sie wird dir mit einem orangefarbenen Kreisbogen angezeigt.
        Der schmale rote Kreisbogen steht für die verstrichene Lern- oder Pausenzeit.
        Die von der <a href="https://de.wikipedia.org/wiki/Pomodoro-Technik" target="_blank">Pomodoro-Technik&trade;</a>
        vorgesehenen Pausen erkennst du am blauen Kreisbogen.
        <strong>Während einer Pause wird dir keine weitere Karte zum Lernen angeboten.</strong>
        Wir verhindern so, dass du dich überforderst, zum Beispiel beim »Bulimielernen« in der Woche vor einer Klausur,
        und du dir durch ununterbrochenes Kartenlernen (die Wissenschaft nennt es »massiertes Lernen«) gesundheitlich schadest und
        dein Lernen immer ineffektiver wird.
    </p>
    <a href="https://arsnova-uploads.mni.thm.de/Pomodoro-Uhr.png"
       data-lightbox="img-2" data-title="Pomodoro-Uhr">
        <img src="https://arsnova-uploads.mni.thm.de/Pomodoro-Uhr.png"
             alt="Pomodoro-Uhr" class="img-responsive center-block" width="50%"/>
    </a>

</template>
