<template name="helpContentCategoryWozniak">
    <p>
        Bei der <b>SuperMemo-Lernmethode von Woźniak</b> werden die Abstände aufgrund deiner Einschätzung,
        wie leicht oder schwer du dich an die Antwort erinnern kannst, individuell gemäß dem
        <a href="https://www.supermemo.com/english/ol/sm2.htm" target="_blank">SM-2-Algorithmus</a>
        neu berechnet.
        Du vergleichst deine Antwort mit der Antwort auf der Rückseite der Karte und bewertest sie auf
        einer 6-stufigen Skala von
        <strong>(1)</strong> &raquo;Keine Ahnung&laquo;,
        <strong>(2)</strong> &raquo;Falsche Antwort, aber an die richtige erinnert&laquo;,
        <strong>(3)</strong> &raquo;Falsche Antwort, aber leicht an die richtige erinnert: ach ja!&laquo;,
        <strong>(4)</strong> &raquo;Richtige Antwort nach längerem Überlegen&laquo;,
        <strong>(5)</strong> &raquo;Richtige Antwort nach kurzem Zögern&laquo; bis
        <strong>(6)</strong> &raquo;Perfekt&laquo;.
        Anhand deiner Bewertung wird der Zeitpunkt für die nächste Wiederholung der Lernkarte berechnet.
    </p>
    <p>
        Im Lernmodus siehst du unsere <strong>Pomodoro-Uhr</strong> auf jeder Karte.
        Eine Pomodoro-Lernzeit beträgt 25 Minuten, sie wird dir mit einem orangefarbenen Kreisbogen angezeigt.
        Der schmale rote Kreisbogen steht für die verstrichene Lern- oder Pausenzeit.
        Die von der <a href="https://de.wikipedia.org/wiki/Pomodoro-Technik" target="_blank">Pomodoro-Technik&trade;</a>
        vorgesehenen Pausen erkennst du am blauen Kreisbogen.
        <strong>Während einer Pause wird dir keine weitere Karte zum Lernen angeboten.</strong>
        Wir verhindern so, dass du dich überforderst, zum Beispiel beim »Bulimielernen« in der Woche vor einer Klausur,
        und du dir durch ununterbrochenes Kartenlernen (die Wissenschaft nennt es »massiertes Lernen«) gesundheitlich schadest und
        dein Lernen immer ineffektiver wird.
    </p>
    <a href="https://arsnova-uploads.mni.thm.de/Pomodoro-Uhr.png"
       data-lightbox="img-2" data-title="Pomodoro-Uhr">
        <img src="https://arsnova-uploads.mni.thm.de/Pomodoro-Uhr.png"
             alt="Pomodoro-Uhr" class="img-responsive center-block" width="50%"/>
    </a>
</template>
