<template name="cardModalBeolingusTranslation">
    {{#unless isSmartphone}}
        <div class="modal fade" id="cardModalBeolingusTranslation" role="dialog">
            <div class="modal-dialog" aria-labelledby="cardModalBeolingusTranslationTitle">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{#if isModalVisible}}
                            {{> cardModalBeolingusContent}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}
</template>

<template name="cardModalBeolingusContent">
    <iframe class="dictionaryFrame"
            src="https://dict.tu-chemnitz.de/?mini=1?service=deen{{getDictionaryQuery}}"
            frameborder="0"
            data-type="cardNavigation">
    </iframe>
</template>
