<template name="deleteCardForm">
    <div class="modal fade" id="deleteCardModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteCardTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <h4 id="deleteCardTitle" class="modal-title">{{_ "deletecard"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.deleteCard"}}
                    <button id="deleteCardConfirm" class="btn btn-raised btn-danger btn-block col-xs-12 col-sm-3">{{_
                            "deletecard"}}</button>
                    <button id="deleteCardDismiss" class="btn btn-raised btn-default btn-block col-xs-12 col-sm-3"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
