<template name="demoModal">
    <div class="modal fade" id="demoModal" tabindex="-1" role="dialog"
         aria-labelledby="presentationHelpTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <h4 id="demoHelp" class="modal-title">{{_ "demo.help.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{#markdeep}}
                        <a href="/img/Bildlogo.png"
                           data-lightbox="img-1" data-title="Logo">
                            <img src="/img/Bildlogo.png"
                                 alt="Logo von .cards" class="img-responsive center-block" width="75%"/>
                        </a>

                        <p>Schau dir die Demo-Karten an und erfahre,
                            wie du mit 🍅cards (sprich <strong>&laquo;dot cards&raquo;</strong>)
                            das Wissen aus deinem Studium
                            organisierst, lernst, memorierst und in Seminaren präsentierst.</p>

                        <p>Erfahre, warum die Tomate 🍅 der Punkt in unserem Logo ist
                            und warum sie der Mittelpunkt in deinem Studium sein sollte.</p>

                        <p>
                            15-20 Minuten
                        </p>

                        <br>
                    {{/markdeep}}
                    <button class="btn btn-raised btn-success btn-block"
                            id="demoConfirm">{{_ "demo.help.button.confirm"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
