#flashcardSidebarLeft, #flashcardSidebarRight {
  position: absolute;
  float: left;
  z-index: 1001;
  padding: 5px;
  width: $sidebar_width !important;
  @media(max-width: 767px) {
    padding: 3px;
    width: $sidebar_width_mobile !important;
  }
  border-top: 2px solid;
  border-bottom: 2px solid;
  i, span, img, button {
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }

  .sidebarNavigationButton {
    display: block;
    height: 33px;
    margin-top: 0;
    i, span, img, button {
      margin-top: 0;
    }
    margin-bottom: 25px;
  }
}

#flashcardSidebarLeft.fixed, #flashcardSidebarRight.fixed {
  position: fixed;
}

#flashcardSidebarLeft > .card-button:first-child, #flashcardSidebarRight > .card-button:first-child {
  margin-top: 0;
}

.mobilePreviewContent #flashcardSidebarLeft, .mobilePreviewContent #flashcardSidebarRight {
  padding: 3px;
  width: 35px;
}

#flashcardSidebarLeft {
  border-right: 2px solid;
  left: 0;
  border-radius: 0 10px 10px 0;
}

#flashcardSidebarRight {
  border-left: 2px solid;
  right: 3px;
  @media(max-width: 1200px) {
    right: 0;
  }
  border-radius: 10px 0 0 10px;
}

.flashcardSidebarPreviewLeft {
  position: absolute !important;
}

.flashcardSidebarPreviewRight {
  position: absolute !important;
}

.showArsnovaApp, .showArsnovaClick {
  padding: 0 4px !important;
}

#cardSettingsForward {
  float: left;
}
