<template name="cardSidebarItemArsnovaClick">
    {{#unless isIOSSafari}}
        <img class="hidden-xs showArsnovaClick card-button btn cardHeaderItem"
             data-type="cardNavigation"
             src="/img/button/arsnova_click_v2.png"
             title="{{_ "card.tooltip.arsnovaClick"}}">
    {{/unless}}
</template>

<template name="arsnovaClickModal">
    {{#unless isIOSSafari}}
        <div class="modal" id="arsnovaClickModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
            </div>
        </div>
    {{/unless}}
</template>
