body {
  > .container-fluid {
    padding: 51px 15px 0;
    #backendNavigation {
      margin-bottom: 0;
    }

  }
  #wrapper {
    margin-top: 36px;
    #admin-sidebar-wrapper {
      float: left;
      width: 100%;
      .sidebar-nav {
        padding: 0;
        list-style: none;
        float: left;
        margin: 0;
        li {
          line-height: 45px;
          float: left;
          a {
            display: block;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
            &:hover, &.active {
              text-decoration: none;
            }
            i {
              display: inline;
              padding-right: 5px;
            }
          }
        }
      }
    }
    #admin-content-wrapper {
      padding: 20px;
      float: left;
      width: 100%;
      .modal {
        .input-group {
          padding-left: 15px;
        }
        p {
          padding-top: 7px;
          margin: 0;
        }
      }
      .content-header {
        position: relative;
        padding-bottom: 20px;
        h1 {
          font-size: 28px;
          margin: 0;
        }
        small {
          font-size: 16px;
        }
      }
      .content {
        min-height: 250px;
        .admin_table {
          padding-top: 20px;
          border-radius: 3px;
          border-top: 4px solid;
          border-bottom: 4px solid;
          .clearfix {
            border-bottom: 1px solid;
            .reactive-table-options {
              float: left !important;
              .reactive-table-filter {
                float: left !important;
                margin-bottom: 20px;
              }
            }
          }
          table {
            border-bottom: 1px solid;
            .getpointer {
              cursor: pointer;
            }
          }
          .reactive-table-navigation {
            .page-number {
              margin-right: 20px;
            }
            .rows-per-page {
              margin-left: 20px;
            }
            .form-inline input {
              width: 50px;
            }
            .next-page {
              font-size: 200%;
              margin: 0 5px;
            }
            .previous-page {
              font-size: 200%;
              margin: 0 5px;
            }

          }
          .MathJax {
            font-size: 10px !important;
          }
        }
        .dashboard-box {
          a:hover {
            text-decoration: none;
          }
          .small-box {
            border-radius: 3px;
            border: 1px solid;
            position: relative;
            display: block;
            margin-bottom: 20px;
            .inner {
              padding: 10px;
              h3 {
                font-size: 38px;
                font-weight: bold;
                margin: 0 0 10px 0;
                white-space: nowrap;
                padding: 0;
                span {
                  font-size: 18px;
                  font-weight: normal;
                }
              }
              p {
                font-size: 15px;
              }
            }
            .small-box-footer {
              position: relative;
              text-align: center;
              padding: 3px 0;
              display: block;
              z-index: 10px;
              text-decoration: none;
            }
          }
        }
      }
      .content.box-admin {
        border-top: 4px solid;
        border-radius: 3px;
        border-bottom: 4px solid;
        .box-body-admin {
          padding: 10px;
          .box-button-admin {
            border-top: 1px solid;
            padding-top: 20px;
          }
          .reactive-table-filter {
            padding-top: 10px;
          }
          #cc-modules-admin img {
            width: 30px;
          }
          #cc-description-admin {
            padding-top: 10px;
            img {
              width: 58px;
            }
            p {
              padding-bottom: 10px;
            }
          }
        }
      }
      .reactive-table-navigation {
        .page-number {
          label:last-child {
            margin-right: 21px;
          }
        }
      }
    }
    #module {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }

    .longButton {
      text-align: left;
      width: calc(100% - 25px);
      margin-bottom: 7px;
    }

    .categories {
      label {
        padding-top: 7px;
      }

      .dropdown-menu {
        margin-left: 12px;
      }
    }
  }
}

@media(min-width: 768px) {
  body {
    #wrapper {
      #admin-sidebar-wrapper {
        width: 230px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        .sidebar-nav {
          float: none;
          li {
            float: none;
            text-indent: 20px;
            a {
              padding: 0;
              border-left: 3px solid transparent;
            }
          }
        }
      }
      #admin-content-wrapper {
        margin-left: 230px;
        float: none;
        width: auto;
      }
    }
  }
}

#intervalMenu {
  margin-top: 20px;
  button {
    margin-right: 4px;
  }
}
