<template name="markdeepNavigation">
    <div id="markdeepNavigation">
        {{#if gotMarkdeepHelp}}
            <div class="btn-group">
            <span class="btn fa fa-lightbulb-o card-button markdeep-help"
                  title="{{_ "card.tooltip.markdeepEditor.help"}}">&nbsp;{{_
                    "markdeep.editor.help"}}</span>
            </div>
        {{/if}}
        <div class="btn-group">
            {{#if isActiveRoute regex="editCard|newCard"}}
                <i class="markdeep-mobile-preview fa fa-mobile card-button {{#if
                        isMobilePreviewActive}}pressed{{/if}}"
                   title="{{_ "card.tooltip.markdeepEditor.mobilePreview"}}"></i>
                {{#if isMobilePreviewActive}}
                    <i class="markdeep-rotate-mobile-preview fa fa-refresh card-button {{#if
                            isMobilePreviewRotated}}pressed{{/if}}"
                       title="{{_ "card.tooltip.markdeepEditor.rotateMobilePreview"}}"></i>
                {{/if}}
                <i class="card-button material-icons markdeep-center {{#if isCenterTextActive}}pressed{{/if}}"
                   title="{{_ "card.tooltip.markdeepEditor.center"}}">vertical_align_center</i>
                {{#if isCenterTextActive}}
                    <i class="card-button fa fa-align-left {{#if isCenterTextAlignLeft}}pressed{{/if}}"
                       title="{{_ "card.tooltip.markdeepEditor.alignLeft"}}"></i>
                {{/if}}
                <i class="card-button fa fa-paint-brush markdeep-background-style {{#if
                        isAlternativeBackgroundStyle}}pressed{{/if}}"
                   title="{{_ "card.tooltip.markdeepEditor.style"}}"></i>
                <i class="card-button glyphicon glyphicon-fullscreen markdeep-fullscreen {{#if
                        isFullscreenActive}}pressed{{/if}}" title="{{_ "card.tooltip.markdeepEditor.fullscreen"}}"></i>
            {{/if}}
        </div>
        {{#if gotDictionary}}
            <div class="btn-group">
                <span class="btn card-button markdeep-translate {{#if isTranslationActive}}pressed{{/if}}"
                      title="{{_ "card.tooltip.markdeepEditor.translate"}}">&nbsp;{{_
                        "markdeep.editor.translate"}}</span>
            </div>
        {{/if}}
    </div>
</template>
