<template name="cardsetAccess">
    {{#if hasPermission}}
        {{#if learningActive}}
            {{> cardset}}
        {{else}}
            {{> cardset}}
        {{/if}}
    {{else}}
        {{> accessDenied}}
    {{/if}}
</template>

<template name="cardset">
    {{#unless fullscreenActive}}
        {{> cardsetInfo}}
        {{> showLicense}}
        {{> cardsetForm}}
        {{> cardsetImportForm}}
        {{> cardsetPublishForm}}
        {{> bonusForm}}
        {{> cardsetEndLearnForm}}
        {{> selectLicenseForm}}
        {{> reportCardsetForm}}
        {{> deleteCardsForm}}
        {{> resetLeitnerForm}}
        {{> resetMemoForm}}
        {{> leaveLearnPhaseForm}}
        {{> leaveCardsetForm}}
        {{> leaveEditorsForm}}
        {{> chooseFlashcards}}
        {{> joinBonusForm}}
        {{> leaveBonusForm}}
        {{> profileIncompleteModal}}
    {{/unless}}
    {{#if hasCardsetPermission}}
        {{#unless learningActiveAndEditor}}
            {{selectedForLearning}}
        {{/unless}}
        {{#if isActiveRoute regex='cardsetdetailsid|cardsetcard'}}
            {{#unless isInBonusAndNotOwner}}
                {{#if this.quantity}}
                    <div class="hidden-xs col-xs-12">
                        {{> cardNavigation}}
                    </div>
                    <div class="hidden-xs col-xs-12">
                        {{> flashcards cardset=this}}
                    </div>
                {{/if}}
            {{/unless}}
        {{/if}}
        {{#if isActiveRoute 'cardsetlistid'}}
            <div class="col-xs-12">
                <button class="btn btn-raised btn-danger" id="{{#if
                        fullscreenActive}}backToCardsetDetailViewFullscreen{{else}}backToCardsetDetailView{{/if}}">
                    <span class="pull-left"><i class="fa fa-arrow-left"></i> {{_ "cardset.list.back"}}</span>
                </button>
                {{> cardsetList}}
            </div>
        {{/if}}
    {{else}}
        {{#if this.quantity}}
            <div class="col-xs-12">
                {{> cardNavigation}}
            </div>
            <div class="col-xs-12">
                {{> flashcards cardset=this}}
            </div>
        {{/if}}
    {{/if}}
</template>
