<template name="presentation">
    {{#if hasPermission}}
        {{> presentationView}}
    {{else}}
        {{> accessDenied}}
    {{/if}}
</template>

<template name="makingOfCards">
    {{#if gotMakingOfCardsetData}}
        {{> presentationView}}
    {{/if}}
</template>

<template name="presentationView">
    {{#if isActiveRoute regex='presentation'}}
        {{> pomodoroTimerModal}}
    {{/if}}
    {{#if isActiveRoute regex='demolist|presentationlist|makinglist'}}
        <div class="{{#if isActiveRoute regex='demolist'}}row demo-padding{{else}}col-xs-12{{/if}}">
            <button class="btn btn-raised btn-danger"
                    id="{{#if fullscreenActive}}backToPresentationFullscreen{{else}}backToPresentation{{/if}}">
            <span class="pull-left"><i class="fa fa-arrow-left"></i> {{#if isActiveRoute regex='demolist'}}{{_
                    "presentation.list.backDemo"}}{{else}}{{_ "presentation.list.back"}}{{/if}}</span>
            </button>
            {{> cardsetList}}
        </div>
    {{else}}
        <div class="{{#if isActiveRoute regex='demo'}}row demo-padding{{else}}col-xs-12{{/if}}">
            {{> cardNavigation}}
        </div>
        <div class="{{#if isActiveRoute regex='demo'}}row demo-padding{{else}}col-xs-12{{/if}}">
            {{> flashcards}}
        </div>
    {{/if}}
</template>
