<template name="showLicense">
    <div class="modal fade" id="showLicenseModal" tabindex="-1" role="dialog"
         aria-labelledby="showLicenseTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="showLicenseTitle" class="modal-title">{{_ "sidebar-nav.poolLicense"}}: {{getTopic}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div id=cc-description class="col-md-12">
                                {{#if getLicenseCount}}
                                    {{#if getLicenseType 'by'}}
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <img src="/img/by.large.png" alt="Namensnennung"/>
                                            </div>
                                            <div class="col-xs-10"><p>{{_ "modal-dialog.by-desc"}}</p></div>
                                        </div>
                                    {{/if}}
                                    {{#if getLicenseType 'nc'}}
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <img src="/img/nc-eu.large.png" alt="Nicht kommerziell"/>
                                            </div>
                                            <div class="col-xs-10"><p>{{_ "modal-dialog.nc-desc"}}</p></div>
                                        </div>
                                    {{/if}}
                                    {{#if getLicenseType 'nd'}}
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <img src="/img/nd.large.png" alt="Keine Bearbeitung"/>
                                            </div>
                                            <div class="col-xs-10"><p>{{_ "modal-dialog.nd-desc"}}</p></div>
                                        </div>
                                    {{/if}}
                                    {{#if getLicenseType 'sa'}}
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <img src="/img/sa.large.png"
                                                     alt="Weitergabe unter gleichen Bedingungen"/>
                                            </div>
                                            <div class="col-xs-10"><p>{{_ "modal-dialog.sa-desc"}}</p></div>
                                        </div>
                                    {{/if}}
                                {{else}}
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img src="/img/zero.large.png" alt="Keine Lizenz"/>
                                        </div>
                                        <div class="col-xs-10"><p>{{_ "modal-dialog.zero-desc"}}</p></div>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
