<template name="helpContentCategoryPresentation">

    <strong>Rand-Buttons</strong>

    <ul>
        <a href="/img/help/de/Rand-Buttons.png"
           data-lightbox="img-1" data-title="Rand-Buttons in der Präsentation">
            <img src="/img/help/de/Rand-Buttons.png"
                 alt="Rand-Buttons" class="img-responsive center-block"/>
        </a>

        <li><strong>Pfeil</strong> | zur nächsten oder vorherigen Karte wechseln</li>
        <li><strong>Verzeichnis</strong> | zu einer beliebigen Karte wechseln</li>
        <li><strong>Tomate</strong> | den Pomodoro-Timer starten oder beenden</li>
        <li><strong>ARSnova</strong> | das Audience-Response-System (ARS) aufrufen</li>
        <li><strong>ARSnova.click</strong> | die spielbasierte Quiz-App aufrufen</li>
        <li><strong>Vollbild</strong> | den Präsentationsmodus aktivieren oder beenden</li>
        <li><strong>Lupe</strong> | den Kartentext vergrößern</li>
        <li><strong>Fragezeichen</strong> | diese Hilfe aufrufen</li>
    </ul>

    <strong>Tastensteuerung</strong>

    <ul>
        <li><kbd>command</kbd> und <kbd>+</kbd> | Kartenansicht vergrößern</li>
        <li><kbd>Leertaste</kbd> | durch die Präsentation (Karten, Kartenseiten) navigieren</li>

        <a href="/img/help/de/presentation_key.png"
           data-lightbox="img-2" data-title="Mit der Leertaste durch die Karten-Präsentation navigieren">
            <img src="/img/help/de/presentation_key.png"
                 alt="Präsentationstaste" class="img-responsive center-block"/>
        </a>

        <li><kbd>Tabtaste</kbd> | zur nächsten Kartenseite wechseln, bei einer <strong>Vokabelkarte</strong> das Wörterbuch »Beolingus« und bei mehreren Wörtern den Übersetzungsdienst »DeepL« aufrufen</li>
        <li><kbd>Pfeiltaste</kbd> | Karteninhalt scrollen</li>
        <li><kbd>esc</kbd> | Vollbildmodus beenden</li>

    </ul>

    <br>

    <strong>Zeitmanagement beim Präsentieren mit 🍅cards</strong>

    <p>
        Um die Vortragsdauer und Pause beim Vortragen im Blick zu haben, kann die
        <strong>Pomodoro-Uhr</strong> auf jeder Karte angezeigt werden.
        Zum Starten und Einstellen der Vortragsdauer und der Pause dient das Tomaten-Icon am linken Rand.
        Die verbleibende Vortragszeit zeigt der orangefarbene Kreisbogen an.
        Der schmale rote Kreisbogen steht für die verstrichene Vortrags- oder Pausenzeit.
        Die vorgesehene Pause markiert der blaue Kreisbogen.
    </p>
    <a href="/img/help/de/Pomodoro-Uhr.png"
       data-lightbox="img-3" data-title="Pomodoro-Uhr">
        <img src="/img/help/de/Pomodoro-Uhr.png"
             alt="Pomodoro-Uhr" class="img-responsive center-block" width="50%"/>
    </a>

    <br>

</template>
