@media (min-width: 900px) {
  .pool-filter-margin {
    margin-top: 56px;
  }
  .navbar-right {
    margin-right: -20px;
  }
}

#filter-nav-wrapper, #filter-nav {
  padding: 0;
  text-align: left;
  #resetBtn, #displayModeBtn {
    margin-left: 10px;
  }

  a {
    font-size: 14px;
  }

  .btn {
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  }

  .navbar-nav > li > a {
    padding: 20px 10px;
  }

  @media (max-width: 900px) {
    .navbar-header {
      float: none;
    }
    .navbar-left, .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in {
      display: block !important;
    }

    .resetBtn {
      margin-top: 8px;
    }
  }

  @media (max-width: 767px) {
    margin: 0 !important;
    .resetFilters {
      margin-left: 20px;
    }
    .navbar-collapse {
      margin-left: 20px;
      margin-right: 20px;
    }

    .btn-group {
      margin-left: 30px;
    }

    #resetBtnMobile {
      right: 40px !important;
      top: 3px;
    }

    .filter-text-xs {
      font-size: $font_size_filter_navbar_mobile !important;
    }
  }

  @media (max-width: 900px) {
    .navbar-nav.col-lg-12 {
      margin-left: 0 !important;
    }
    #filterCheckbox {
      margin-left: 0 !important;
      padding-left: 10px !important;
    }
    .navbar-toggle,.navbar-toggle.collapsed {
      margin-top: 15px;
    }
    #resetBtnMobile {
      position: absolute;
      float: right;
      top: 3px;
      right: 60px;
    }
    .visible-xs-inline-block {
      padding-left: 10px;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav {
      padding-left: 15px !important;
    }
  }

  @media (min-width: 900px) {
    #filterCheckbox {
      padding-bottom: 0;
      padding-right: 10px;
      margin-left: 15px;
      margin-top: -5px !important;
    }
  }

  .dropdown-menu {
    min-width: 250px;
  }
}

.scrollArrow {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  text-align: center;
}

.resultCounter {
  position: absolute;
  float: left;
  display: inline-block;
  margin-top: $margin-top_infinite_scroll_text !important;
  margin-left: 5px;
  font-family: $default_font !important;
  font-size: $font_size_infinite_scroll_text !important;
  font-weight: $font_weight_infinite_scroll_text !important;
}

.no-results, .no-results-filtered {
  display: table;
  height: 100px;
  text-align:center;
}

.no-navigation {
  @media (min-width: 768px) {
    margin-top: 56px;
  }
}

.no-result-text {
  display: table-cell;
  vertical-align: middle;
}

.filter-text-xs {
  margin-left: 20px;
}
