<template name="filterNavigation">
    <div class="buttonHeader">
        {{#if isSelectingCardsetToLearn}}
            <div class="bs-callout bs-callout-info selectionInfo">
                <a id="cancelSelection" class="btn btn-raised btn-danger">
                    {{_ "confirmLearn-form.cancel"}}
                </a>
                <span class="text">
                    {{#if isActiveRoute regex='pool'}}
                        {{_ "pool.selectCardToLearn"}}
                    {{else}}
                        {{_ "pool.selectShuffledCardsetToLearn"}}
                    {{/if}}
                </span>
            </div>
            <br>
        {{/if}}
        <nav class="navbar navbar-default {{#if isActiveRoute regex='pool|alldecks'}}{{#unless
                isSelectingCardsetToLearn}}no-navigation{{/unless}}{{/if}}">
            <div class="container-fluid" id="filter-nav-wrapper">
                <div class="navbar-header">
                    <p class="navbar-text visible-sm-inline-block">{{_
                            "set-list.filter-info-small"}}</p>
                    <p class="navbar-text visible-xs-inline-block filter-text-xs">{{_
                            "set-list.filter-info-extra-small"}}</p>
                    {{#if gotResetButton}}
                        <button class="resetFilters btn btn-raised btn-sm btn-danger hidden-md hidden-lg float-left"
                                id="resetBtnMobile"
                                role="button"><i class="glyphicon glyphicon-filter"></i> {{_
                                "set-list.reset"}} </button>
                    {{/if}}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#filter-nav"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="filter-nav">
                    <ul class="nav navbar-nav col-md-12">
                        {{#if gotResetButton}}
                            {{> filterItemResetButton}}
                        {{/if}}
                        {{#if gotDisplayModeButton}}
                            {{> filterItemDisplayModeButton}}
                        {{/if}}
                        {{#if gotSortButton}}
                            {{> filterItemSortResults}}
                        {{/if}}
                        {{#if gotCardTypeFilter}}
                            {{> filterItemFilterCardType}}
                        {{/if}}
                        {{#if gotDifficultyFilter}}
                            {{> filterItemFilterDifficulty}}
                        {{/if}}
                        {{#if gotAuthorFilter}}
                            {{> filterItemFilterAuthors}}
                        {{/if}}
                        {{#if gotBonusFilter}}
                            {{> filterItemFilterBonus}}
                        {{/if}}
                        {{#if gotWordcloudFilter}}
                            {{> filterItemFilterWordcloud}}
                        {{/if}}
                        {{#if gotKindFilter}}
                            {{> filterItemFilterKind}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<template name="infiniteScroll">
    {{#if moreResults}}
        <a href="#" title="{{_ "set-list.moreResults"}}">
            <div id="showMoreResults" class="showMoreResults col-xs-12 panel panel-default">
                <span class="scrollArrow col-xs-12 infinite-scroll-icon glyphicon glyphicon-chevron-down">
                    <span class="resultCounter">{{getCurrentResults}}</span>
                </span>
            </div>
        </a>
    {{/if}}
</template>
