<template name="cardsetDeleteForm">
    <div class="modal fade" id="confirmDeleteCardsetModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteCardsetModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="confirmDeleteCardsetModalTitle" class="modal-title">{{_
                            "cardset.confirm-form-delete.title"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "cardset.confirm-form-delete.text"}}</p>
                    <hr/>
                    <button id="deleteCardset"
                            class="btn btn-danger btn-raised btn-setDelete" {{disableIfOffline}}>{{_
                            "cardset.confirm-form-delete.title"}}</button>
                    <button id="cancelDelete" class="btn btn-raised pull-right" data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
