<template name="flashcards">
    {{> copyCard}}
    {{> deleteCardForm}}
    {{> cardSettingsModal}}
    {{> cardModalBeolingusTranslation}}
    {{> cardModalDeepLTranslation}}
    <div class="flip-container"
         id="set-details-region">
        <div>
            <div id="cardCarousel" class="carousel slide" data-keyboard="false" data-interval="false">
                <div class="carousel-inner">
                    {{#unless isMobilePreviewActive}}
                        {{> flashcardSidebar}}
                    {{/unless}}
                    {{#each getCards}}
                        <div class="item {{#if isActiveCard true}}active{{/if}}" data-id="{{_id}}">
                            <div class="box flashcard">
                                <div class="cardHeader {{#if
                                        isActiveCard
                                        false}}{{getCardSideColorActive}}{{else}}{{getCardSideColorInactive}}{{/if}}-header"
                                     data-cardtype="{{cardType}}">
                                    {{> flashcardHeader this}}
                                </div>
                                <div class="cardContent detail{{cardsIndex this._id}} {{#if
                                        isActiveCard
                                        false}}{{getCardSideColorActive}}{{else}}{{getCardSideColorInactive}}{{/if}}">
                                    {{> cardContentCounter this}}
                                    {{#if isActiveCard false}}
                                        {{> cardContentActive this}}
                                    {{else}}
                                        {{> cardContentInactive this}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="flashcardsEmpty">
    <div class="flip-container" id="set-details-region">
        <div>
            <div id="cardCarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="box flashcard emptyCard">
                            {{#if isActiveRoute 'box'}}
                                {{#if gotLeitnerWorkload}}
                                    <h4>{{_ "bonus.message.learnedEverything"}}</h4>
                                {{/if}}
                            {{/if}}
                            {{#if isActiveRoute 'memo'}}
                                {{#if gotWozniakWorkload}}
                                    <h4>{{_ "wozniak.empty.text"}}</h4>
                                {{/if}}
                            {{/if}}
                            {{> learnBackButton}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="flashcardsEnd">
    <div class="{{#if isActiveRoute 'cardsetdetailsid'}}col-md-9{{/if}} flip-container" id="set-details-region">
        <div>
            <div id="cardCarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="box flashcard emptyCard">
                            {{#if isActiveRoute 'box'}}
                                <h4>{{getNextCardTime}}</h4>
                            {{/if}}
                            {{#if isActiveRoute 'memo'}}
                                <h4>{{_ "wozniak.endscreen.text"}}</h4>
                            {{/if}}
                            {{> learnBackButton}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="cardSubject">
    {{#if gotLearningUnit}}<a class="cardHeaderLink"
                              href="/cardset/{{getLearningIndex}}/card/{{getLearningUnit}}"
                              target="_blank">{{getSubject}}</a>{{else}}{{#unless this.subject}}
        <span class="subjectPlaceholder">{{getSubject}}</span>{{else}}{{getSubject}}{{/unless}}{{/if}}
</template>
