#welcome {
  text-align: center;
  .panel {
    box-shadow: none;
  }
  #slogan {
    display: inline-block;

    h2 {
      margin: 0;
      padding: 0;
      @media (max-width: 667px) {
        font-size: 12px;
        font-weight: bold;
      }
      @media (min-width: 668px) {
        font-size: 32px;
        font-weight: bold;
      }
    }
  }

  .panel-heading {
    line-height: 1.3;
    padding-top: 0;
    padding-bottom: 20px;
    @media (max-height: 500px) {
      padding-bottom: 0;
    }
    min-height: 177px;
  }

  .panel-footer {
    border-top: 0;
    min-height: 84px;
  }

  .show-more {
    z-index: 100;
  }
}

#tag-cloud-container {
  text-align: center;
  padding: 0 !important;
}

#welcome-login {
  position: absolute;
  bottom: 0;
  padding-top: $padding_top_login !important;
  padding-bottom: $size_footer_height !important;
  text-align: center;

  .login-container {
    display: inline-block;
  }

  .backdoorLogin {
    vertical-align: top;
  }

  #loginButtonRow {
    display: inline-block;
  }

  #loginButtonRow a, .loginLabel{
    display: inline-block;
    height: $login_button_size;
    margin: 0 15px 0 0;
  }

  .loginLabel {
    vertical-align: top;
    padding-top: ($login_button_size / 2 - ($font_size_login_label / 2));
  }

  #loginButtonRow a{
    width: $login_button_size;
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .login-button-icon {
    //has to be an odd number to prevent the svg from looking pixelated
    width: 99%;
    height: 99%;
    -webkit-mask-position: center;
    mask-position: center;
  }

  #cas .login-button-legacy-icon {
    background-image: url(/img/login/legacy/thm.png);
  }

  #cas .login-button-icon {
    -webkit-mask-image: url(/img/login/thm.svg);
    mask-image: url(/img/login/thm.svg);
  }

  #facebook .login-button-legacy-icon {
    background-image: url(/img/login/legacy/facebook.png);
  }

  #facebook .login-button-icon {
    -webkit-mask-image: url(/img/login/facebook.svg);
    mask-image: url(/img/login/facebook.svg);
  }

  #twitter .login-button-legacy-icon {
    background-image: url(/img/login/legacy/twitter.png);
  }

  #twitter .login-button-icon {
    -webkit-mask-image: url(/img/login/twitter.svg);
    mask-image: url(/img/login/twitter.svg);
  }

  #google .login-button-legacy-icon {
    background-image: url(/img/login/legacy/google.png);
  }

  #google .login-button-icon {
    -webkit-mask-image: url(/img/login/google.svg);
    mask-image: url(/img/login/google.svg);
  }

  #BackdoorLogin .login-button-legacy-icon {
    background-image: url(/img/login/legacy/backdoor.png);
  }

  #BackdoorLogin .login-button-icon {
    -webkit-mask-image: url(/img/login/backdoor.svg);
    mask-image: url(/img/login/backdoor.svg);
  }

  .login-button-legacy-icon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 99%;
  }
}

.color-dot:before {
  content: ' \25CF';
  font-size: 5vw;
  font-weight: bold;
  vertical-align: -6%;
  background-image: url("/img/pomodoro/pomodoro.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 80%;
  background-size: 100% 100%;
  color: rgba(0,0,0,0);
  -webkit-filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.7));
}

.logo-header-chars {
  font-size: 8vw;
  font-weight: bold;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.serverInventory {
  display: inline-block;
  text-align: center;
  margin-top: $margin_top_inventory !important;
  padding: $padding_vertical_inventory $padding_horizontal_inventory !important;
  font-size: $font_size_inventory !important;
  font-weight: $font_weight_inventory !important;
}

@media (min-width: 768px) {
  #serverInventoryContainer .serverInventory:first-child {
    padding: $padding_vertical_inventory ($padding_horizontal_inventory /2) $padding_vertical_inventory $padding_horizontal_inventory !important;
  }
  #serverInventoryContainer .serverInventory:last-child {
    padding: $padding_vertical_inventory $padding_horizontal_inventory $padding_vertical_inventory ($padding_horizontal_inventory /2) !important;
  }
}

.welcome-title-no-padding {
  padding-bottom: 0 !important;
}
