<template name="welcome">
    {{> pomodoroTimerModal}}
    {{> welcomeTitle}}
    <div id="welcome-container">
        {{> wordcloud}}
    </div>
    <div id="welcome-login" class="col-xs-12">
        <span class="login-container">
            {{{getLoginButtons}}}
        </span>
        {{{getServerInventory}}}
    </div>

    <div id="pomodoroTimerNormalContainer">
        {{> pomodoroTimer}}
    </div>
</template>

<template name="welcomeTitle">
    <div class="col-xs-12" id="welcome">
        <div class="panel panel-default">
            <div class="panel-heading {{#if isFirstTimeVisit}}welcome-title-no-padding{{/if}}">
                <div class="text-center">
                    <span class="color-cards logo-header-chars">{{getFirstAppTitle}}</span>
                    <span class="color-dot logo-header-dot"></span>
                    <span class="color-cards logo-header-chars">{{getLastAppTitle}}</span>
                </div>

                <span id="slogan">
                    <h2 class="pull-left">ORGANIZE. LEARN. MEMORIZE. PRESENT.</h2>
                  </span>
                <br>
                {{#if isActiveRoute
                      'home'}}
                    <a href="demo" id="showDemo" class="hidden-xs btn btn-lg btn-raised btn-primary show-more">{{_
                            "intro.learnMore" lastAppTitle=(getLastAppTitle)}}</a>
                    <a href="about" class="visible-xs btn btn-lg btn-raised btn-primary show-more">{{_
                            "intro.learnMoreMobile" lastAppTitle=(getLastAppTitle)}}</a>
                {{/if}}
            </div>
        </div>
    </div>
</template>
