<template name="admin_users">
    <div class="content-header">
        <h1>
            {{_ "admin.users"}}
            <small>{{_ "admin.view"}}</small>
        </h1>
    </div>
    <div class="content">
        <div class="admin_table">
            {{> reactiveTable collection=userListAdmin settings=tableSettings}}
        </div>
    </div>
    {{> userConfirmFormAdmin}}
    {{> messageFormAdmin}}
</template>

<template name="userConfirmFormAdmin">
    <div class="modal fade" id="userConfirmModalAdmin" tabindex="-1" role="dialog"
         aria-labelledby="userConfirmModalTitleAdmin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="userConfirmModalTitleAdmin" class="modal-title">{{_ "admin.confirm-form.users.title"}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "admin.confirm-form.users.text"}}</p>
                    <br/>
                    <hr/>

                    <button id="userDeleteAdmin" class="btn btn-danger btn-raised btn-setDelete"
                            style="width:150px">{{_ "admin.confirm-form.users.title"}}</button>
                    <button id="userCancelAdmin" class="btn btn-default btn-raised pull-right"
                            data-dismiss="modal">{{_ "admin.confirm-form.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>

<template name="messageFormAdmin">
    <div class="modal fade" id="messageModalAdmin" tabindex="-1" role="dialog" aria-labelledby="messageModalAdminTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="messageModalAdminTitle" class="modal-title">{{_ "admin.message.messageUser"}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{_ "admin.message.to"}}</label>
                            <p class="col-md-9">{{getUsername}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{_ "admin.message.reason"}}</label>
                            {{#if getCardsets.count}}
                                <div class="input-group">
                                    <select id="messageReasonAdmin" class="form-control">
                                        <option>{{_ "admin.message.reportuser"}}</option>
                                        <option>{{_ "admin.message.reportcardset"}}</option>
                                    </select>
                                </div>
                            {{else}}
                                <p id="messageReasonAdmin" class="col-md-9">{{_ "admin.message.reportuser"}}</p>
                            {{/if}}
                        </div>
                        {{#if isCardset}}
                            <div class="form-group">
                                <label id="messageCardsetLabelAdmin"
                                       class="col-md-3 control-label">{{_ "admin.message.cardset"}}</label>
                                <div class="input-group">
                                    <select id="messageCardsetAdmin" class="form-control">
                                        {{#each getCardsets}}
                                            <option id='{{_id}}'>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        {{/if}}
                        <div class="form-group text">
                            <label id="messageTextLabelAdmin"
                                   class="col-md-3 control-label">{{_ "admin.message.text"}}</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="6" id="messageTextAdmin"></textarea>
                                <span id="helpMessageTextAdmin" class="help-block text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="messageTextCancel" class="btn btn-default"
                            data-dismiss="modal">{{_ "admin.message.cancel"}}</button>
                    <button id="messageTextSave" class="btn btn-primary">{{_ "admin.message.sendMessage"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="adminLayout">
    <div class="container">
        {{> yield}}
    </div>
</template>
