<template name="admin_dashboard">
    <div class="content-header">
        <h1>
            {{_ "admin.dashboard"}}
        </h1>
    </div>
    <div class="content">
        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>{{totalCardsets}}</h3>
                    <p>{{_ "admin.cardsets"}}</p>
                </div>
            </div>
        </div>

        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>{{totalReps}}</h3>
                    <p>{{_ "navbar-collapse.course"}}</p>
                </div>
            </div>
        </div>

        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>{{totalCards}}</h3>
                    <p>{{_ "admin.cards"}}</p>
                </div>
            </div>
        </div>

        <div class="dashboard-box col-lg-3 col-xs-6">
            <div class="small-box">
                <div class="inner">
                    <h3>
                        {{totalUser}}
                        <span>{{getOnlineStatusTotal}} Online</span>
                    </h3>
                    <p>{{_ "admin.users"}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
