<template name="helpContentCategoryStart">

    <h1>Startseite</h1>

    <a href="/img/help/de/Startseite.jpg" data-lightbox="img-1" data-title="Startseite der
                Lernplattform 🍅cards">
        <img src="/img/help/de/Startseite.jpg" alt="Startseite von .cards"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Demo:</strong> Die Demo-Kartei wird nur auf Tablets und Desktops angeboten.
            Sie zeigt dir auf rund 20 Karten, was 🍅cards von anderen Lernkartei-Apps unterscheidet.
            Die 15 (!) Karteitypen werden an realen Beispielen aus Informatik-Kursen vorgestellt.
            Nimm dir ein paar Minuten Zeit, um die großartigen Möglichkeiten kennen zu lernen,
            wie du dein Studium effizient und nachhaltig mit Lernkarteien und Repetitorien betreiben kannst.
        </li>
        <li><strong>Wortwolke:</strong> Auch sie erscheint nur auf großen Displays ab Tablet-Größe und zeigt die
            aktuell populärsten Karteien und Repetitorien (Reps) der Plattform.
            Die Schriftgröße ist proportional zur Anzahl der Karten.
            Wenn du ein Wort in der Wolke anklickst oder antippst, siehst du die vollständige Beschreibung der Kartei mit allen Metadaten.
        </li>
        <li><strong>Login:</strong> 🍅cards unterscheidet zwei Anmeldeoptionen.
            Mit dem grünen Button können sich alle Mitglieder der THM anmelden.
            Als THM-Mitglied hast du kostenlosen freien Zugang zu allen von THM-Lehrenden veröffentlichen Karteien und Reps.
            THM-Karteien und -Reps tragen das grüne Label "THM".
            Wer sich über ein Konto eines sozialen Netzwerks anmeldet,
            hat nur Zugang zu Karteien und Reps mit dem blauen Label "Frei", es sei denn, er oder sie hat ein Abonnement
            oder zahlt einzeln für "THM"- oder "Pro"-Karteien, siehe die Allgemeinen Geschäftsbedingungen.
        </li>
        <li><strong>Online-Check:</strong> Die Lernplattform ist eine moderne HTML5-App, die WebSocket-Technologie
            im Online-Betrieb verwendet.
            Ohne WebSocket-Verbindung arbeitest du offline und die Karteien werden in deinem Browser verwaltet.
            Die Synchronisation mit dem Server erfolgt automatisch, sobald du wieder Netz hast.
        </li>
    </ul>
</template>
