<template name="cardEditorItemButtonSave">
    <button id="cardSave"
            class="btn btn-success btn-raised saveFirst col-xs-12 col-sm-4" {{disableIfOffline}}
            tabindex="13">
        {{_ "savecard"}}
    </button>
</template>
