<template name="cardEditorItemButtonCancel">
    <button id="cardCancel" class="btn btn-danger btn-raised cancel col-xs-12 col-sm-3 pull-right"
            tabindex="16" data-toggle="modal"
            data-target="#cancelEditModal">{{_
            "declinecard"}}</button>
</template>
