<template name="learningGoalLevel">
    <div id="learningGoalLevelGroup" class="form-group btn-group col-xs-12" role="group" data-toggle="buttons">
        <button id="learningGoalLevel0"
                class="col-xs-6 col-sm-2 learningGoalLevelButton btn btn-raised {{#if isLearningGoalLevelChecked
                                                                                      0}}btn-primary{{else}}btn-white{{/if}} {{#if
                        isLearningGoalLevel 0}}active{{/if}}"
                data-lvl="0">
            {{#if isLearningGoalLevel 0}}
                <input type="radio" name="learningGoalLevel" value="0" checked tabindex="4" data-lvl="0">
            {{else}}
                <input type="radio" name="learningGoalLevel" value="0" data-lvl="0">
            {{/if}}
            {{_ "learning-goal.level1"}}
        </button>
        <button id="learningGoalLevel1"
                class="col-xs-6 col-sm-2 learningGoalLevelButton btn btn-raised {{#if isLearningGoalLevelChecked
                                                                                      1}}btn-primary{{else}}btn-white{{/if}} {{#if
                        isLearningGoalLevel 1}}active{{/if}}"
                data-lvl="1">
            {{#if isLearningGoalLevel 1}}
                <input type="radio" name="learningGoalLevel" value="1" checked tabindex="4" data-lvl="1">
            {{else}}
                <input type="radio" name="learningGoalLevel" value="1" data-lvl="1">
            {{/if}}
            {{_ "learning-goal.level2"}}
        </button>
        <button id="learningGoalLevel2"
                class="col-xs-6 col-sm-2 learningGoalLevelButton btn btn-raised {{#if isLearningGoalLevelChecked
                                                                                      2}}btn-primary{{else}}btn-white{{/if}} {{#if
                        isLearningGoalLevel 2}}active{{/if}}"
                data-lvl="2">
            {{#if isLearningGoalLevel 2}}
                <input type="radio" name="learningGoalLevel" value="2" checked tabindex="4" data-lvl="2">
            {{else}}
                <input type="radio" name="learningGoalLevel" value="2" data-lvl="2">
            {{/if}}
            {{_ "learning-goal.level3"}}
        </button>
        <button id="learningGoalLevel3"
                class="col-xs-6 col-sm-2 learningGoalLevelButton btn btn-raised {{#if isLearningGoalLevelChecked
                                                                                      3}}btn-primary{{else}}btn-white{{/if}} {{#if
                        isLearningGoalLevel 3}}active{{/if}}"
                data-lvl="3">
            {{#if isLearningGoalLevel 3}}
                <input type="radio" name="learningGoalLevel" value="3" checked tabindex="4" data-lvl="3">
            {{else}}
                <input type="radio" name="learningGoalLevel" value="3" data-lvl="3">
            {{/if}}
            {{_ "learning-goal.level4"}}
        </button>
        <button id="learningGoalLevel4"
                class="col-xs-6 col-sm-2 learningGoalLevelButton btn btn-raised {{#if isLearningGoalLevelChecked
                                                                                      4}}btn-primary{{else}}btn-white{{/if}} {{#if
                        isLearningGoalLevel 4}}active{{/if}}"
                data-lvl="4">
            {{#if isLearningGoalLevel 4}}
                <input type="radio" name="learningGoalLevel" value="4" checked tabindex="4" data-lvl="4">
            {{else}}
                <input type="radio" name="learningGoalLevel" value="4" data-lvl="4">
            {{/if}}
            {{_ "learning-goal.level5"}}
        </button>
        <button id="learningGoalLevel5"
                class="col-xs-6 col-sm-2 learningGoalLevelButton btn btn-raised {{#if isLearningGoalLevelChecked
                                                                                      5}}btn-primary{{else}}btn-white{{/if}} {{#if
                        isLearningGoalLevel 5}}active{{/if}}"
                data-lvl="5">
            {{#if isLearningGoalLevel 5}}
                <input type="radio" name="learningGoalLevel" value="5" checked tabindex="4" data-lvl="5">
            {{else}}
                <input type="radio" name="learningGoalLevel" value="5" data-lvl="5">
            {{/if}}
            {{_ "learning-goal.level6"}}
        </button>
    </div>
</template>
