<template name="helpContentCategoryCardEditor">

    <h1>Karteneditor</h1>

    <a href="/img/help/de/Editor.jpg" data-lightbox="img-1"
       data-title="Markdown/Markdeep-Karteneditor mit synchroner Vorschau auf einem Smartphone">
        <img src="/img/help/de/Editor.jpg" alt="Editor"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Titel der Karte:</strong> Jede Karte hat einen individuellen Titel.
            Formuliere ihn kurz und prägnant.
            Er wird auf der Karte und im Inhaltsverzeichnis der Kartei angezeigt.
        </li>
        <li><strong>Editor:</strong> Der Karteneditor unterstützt Markdeep-Auszeichnungen, eine Obermenge von Markdown.
            Ruf den Link "Formatiere deinen Text mit Markdeep" auf, um die Feature-Demo zu sehen.
            Als Kenner von HTML wirst du staunen, wie vielfältig die Formatierungsmöglichkeiten von Markdeep sind.
            Im Themen-Pool findest du die Kartei "Markdown| Markdeep".
            Mit ihrer Hilfe kannst du schnell die wichtigsten Formatierungen lernen.
        </li>
        <li><strong>Vorschau:</strong> Synchron zum Inhalt des Editors, also während du tippst, wird die Karte formatiert angezeigt.
            So siehst du sofort, ob alles so ausieht, wie beabsichtigt.
            Zum Editor-Prinzip <strong>WYSIWYM</strong> siehe die <a href="{{pathFor route='faq'}}">5. FAQ</a>.
            Unsere App wurde nach dem "Mobile first"-Ansatz entworfen:
            Das primäre Medium für die Nutzung von 🍅cards ist das Smartphone in der Portrait-Ansicht.
            Deshalb zeigen wir in der Standard-Vorschau die Karte im <strong>Lernmodus auf dem Smartphone</strong>.
            Achte darauf, den Karteninhalt kompakt und gut lesbar darzustellen, so dass man möglichst wenig nach unten oder gar zur Seite scrollen muss:
            <a href="https://en.wikipedia.org/wiki/Above_the_fold#In_web_design" target="_blank">"Above the Fold"</a>.
            Du kannst mit dem Handy-Icon in der Editorleiste zwischen Smartphone- und Desktop-Ansicht umschalten.
        </li>
    </ul>
</template>
