<template name="cardsetNavigationBonus">
    {{#if isCardsetOwner _id}}
        {{#if isInRole 'admin, editor, lecturer'}}
            <div class="hidden-xs btn-group">
                <button class="btn btn-sm btn-raised bonusBtn" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-graduation-cap"></i> {{_ "sidebar-nav.bonus"}} <span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {{#if enableIfPublished}}
                        {{#if gotLearningModes}}
                            {{#if isCardsetOwner _id}}
                                {{#if isInRole 'admin, editor, lecturer'}}
                                    {{#unless learningActive}}
                                        <li id="startBonus"
                                            class="startLearn startLearningList"
                                            data-toggle="modal"
                                            data-target="#bonusFormModal">
                                            {{_ "bonus.form.new.title"}}
                                        </li>
                                    {{/unless}}
                                {{/if}}
                            {{/if}}
                            {{#if learningActiveAndEditor}}
                                <li id="showStats" class="showStatsList">
                                    {{_ "box_stats"}}
                                </li>
                            {{/if}}
                        {{/if}}
                        {{#if isCardsetOwner _id}}
                            {{#if isInRole 'admin, editor, lecturer'}}
                                {{#if learningActive}}
                                    <li id="manageBonus"
                                        class="manageLearn manageLearningList learnBoxActive"
                                        data-toggle="modal"
                                        data-target="#bonusFormModal">
                                        {{_ "bonus.form.edit.title"}}
                                    </li>
                                    <li id="stopBonus"
                                        class="stopLearn stopLearningList learnBoxActive"
                                        data-toggle="modal"
                                        data-target="#confirmEndLearnModal">
                                        {{_ "sidebar-nav.stopLearning"}}
                                    </li>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
        {{/if}}
    {{/if}}
</template>
