<template name="cardsetNavigationExport">
    {{#unless isShuffledCardset this._id}}
        {{#if this.quantity}}
            {{#if isCardsetOwner _id}}
                <div class="hidden-xs btn-group">
                    <button id="exportCardsBtn" class="btn btn-sm btn-raised exportCardsBtn"><i
                            class="fa fa-cloud-download"></i> {{_ "sidebar-nav.exportcard"}}
                    </button>
                </div>
            {{/if}}
        {{/if}}
    {{/unless}}
</template>
