<template name="cardsetNavigationImport">
    {{#if isCardsetOwner _id}}
        {{#unless isShuffledCardset _id}}
            <div class="hidden-xs btn-group">
                <a href="#" id="importCardsBtn" class="btn btn-sm btn-raised importCardBtn"
                   data-toggle="modal"
                   data-target="#importModal"><i
                        class="fa fa-cloud-upload"></i> {{_ "sidebar-nav.importcard"}}</a>
            </div>
        {{/unless}}
    {{/if}}
</template>
