<template name="cardsetNavigationLearning">
    {{#if notEmpty}}
        <button id="learnBoxActive"
                class="btn btn-sm btn-raised btn-success learn btn-learn"><i class="fa fa-graduation-cap"></i> {{_
                "cardsToLearn"}}</button>
    {{/if}}
</template>

