<template name="help">
    <div class="panel panel-default">
        <div class="panel-heading info-tab">
            <h1>Falls sich die App nicht von selbst erklärt</h1>
        </div>
        <div class="panel-body info-tab">
            {{#if isHelpFilterActive}}
                <button id="resethelpFilter" class="btn btn-raised btn-info">
                    {{_ "help.resetFilter"}}
                </button>
            {{/if}}
            {{#markdeep}}
                {{> helpContent}}
            {{/markdeep}}
        </div>
    </div>
</template>
