<template name="cardContentItemCountCards">
    <span class="cardHeaderSmallText cardCounter">
        {{#unless hasCardsetPermission cardset_id}}
            {{_ "preview"}}:
            {{cardsIndex this._id}} {{_ "of"}} {{getCardsetCount true}}
        {{else}}
            <span class="hidden-xs">{{_ "admin.card.header"}}</span> {{cardsIndex this._id}} {{_
                "of"}} {{getCardsetCount false}}
        {{/unless}}
    </span>
</template>
