<template name="cardContentItemCountCardsLeitner">
    <span class="cardHeaderSmallText hidden-xs cardCounter">
        {{_ "leitner_status" count=countLeitner}}
    </span>
    <span class="cardHeaderSmallText visible-xs cardCounter">
        {{_ "leitner_status_short" count=countLeitner}}
    </span>
</template>
