@function theme-contrast() {
  //global sass colors
  $thm_dark_blue: #003BD1;
  $thm_blue: #40ffed;
  $thm_orange: #F5AA01;
  $thm_red: #9C132D;
  $thm_gray: #4A5C66;
  $thm_green: #80BA24;
  $athens_gray_approx: rgb(236, 240, 241);
  $white: rgb(255, 255, 255);
  $bilbaoapprox: rgb(50, 129, 20);
  $mercury_approx: rgb(223, 229, 230);
  $la_palma_approx: rgb(61, 156, 25);
  $wild_sand_approx: rgb(245, 245, 245);
  $slate_gray_approx: rgb(74, 92, 102);
  $alto_approx: rgb(221, 221, 221);
  $storm_dust_approx: rgb(102, 102, 102);
  $mountain_mist_approx: rgb(153, 153, 153);
  $orange_pool: $thm_orange;
  $btn_inactive: #9e9c9c;
  $item_separator: $thm_gray;
  $footer_hover: rgb(215, 215, 215);
  $hyperlink: $thm_dark_blue;
  $primary: black;
  $accent: $thm_gray;
  $primary_text: black;
  $secondary_text: $thm_gray;
  $divider: $thm_gray;
  $accent_300: $thm_gray;
  $background: $mercury_approx;
  $button_background_hover: black;
  $button_text_hover: white;
  $item_icon_hover: $thm_orange;
  @return (
    //background
          "background_image" : "none",
    //global colors
          "thm_dark_blue":$thm_dark_blue,
          "thm_blue":$thm_blue,
          "thm_orange":$thm_orange,
          "thm_red":$thm_red,
          "thm_gray":$thm_gray,
          "thm_green":$thm_green,
          "athens_gray_approx":$athens_gray_approx,
          "white":$white,
          "bilbao_approx":$bilbaoapprox,
          "mercury_approx":$mercury_approx,
          "la_palma_approx":$la_palma_approx,
          "wild_sand_approx":$wild_sand_approx,
          "slate_gray_approx":$slate_gray_approx,
          "$alto_approx":$alto_approx,
          "$storm_dust_approx":$storm_dust_approx,
          "$mountain_mist_approx":$mountain_mist_approx,
          "primary": $primary,
          "accent": $accent,
          "primary_text": $primary_text,
          "secondary_text": $secondary_text,
          "divider": $divider,
          "accent_300": $accent_300,
          "background": $background,
          "hyperlink": $hyperlink,
    //global button and label colors
          "demo_background": $thm_gray,
          "demo_text": $white,
          "free_background": $thm_dark_blue,
          "free_text": $white,
          "edu_background": $thm_green,
          "edu_text": $white,
          "pro_background": $thm_orange,
          "pro_text": $white,
          "private_background": $thm_red,
          "private_text": $white,
          "danger_background": $thm_orange,
          "danger_text": $white,
          "info_background": $thm_dark_blue,
          "info_text": $white,
          "success_background": $thm_green,
          "success_text": $white,
          "warning_background": $thm_red,
          "warning_text": $white,
          "disabled_background": $slate_gray_approx,
          "disabled_text": $mercury_approx,
          "shuffled_background": black,
          "shuffled_text": $white,
          "bonus_background": $thm_red,
          "bonus_text": $white,
          "card_type_background": $thm_blue,
          "card_type_text": black,
          "button_background_hover": $button_background_hover,
          "button_text_hover": $button_text_hover,
    //login
          "login_facebook_background": $primary,
          "login_facebook_background_hover": $button_background_hover,
          "login_facebook_icon": white,
          "login_facebook_icon_hover": $button_text_hover,
          "login_twitter_background": $primary,
          "login_twitter_background_hover": $button_background_hover,
          "login_twitter_icon": white,
          "login_twitter_icon_hover": $button_text_hover,
          "login_google_background": $primary,
          "login_google_background_hover": $button_background_hover,
          "login_google_icon": white,
          "login_google_icon_hover": $button_text_hover,
          "login_cas_background": $primary,
          "login_cas_background_hover": $button_background_hover,
          "login_cas_icon": white,
          "login_cas_icon_hover": $button_text_hover,
          "login_backdoor_background": $primary,
          "login_backdoor_background_hover": $button_background_hover,
          "login_backdoor_icon": white,
          "login_backdoor_icon_hover": $button_text_hover,
    //ratings
          "current_rating": $thm_orange,
          "hover_rating": $thm_blue,
    //navbar
          "navbar_background": black,
          "navbar_text": white,
          "navbar_text_hover": white,
          "navbar_alldecks_background": black,
          "navbar_alldecks_background_hover": white,
          "navbar_alldecks_background_active": white,
          "navbar_alldecks_text": white,
          "navbar_alldecks_text_hover": black,
          "navbar_alldecks_text_active": black,
          "navbar_alldecks_border": black,
          "navbar_alldecks_border_hover": white,
          "navbar_alldecks_border_active": white,
          "navbar_create_background": black,
          "navbar_create_background_hover": white,
          "navbar_create_background_active": white,
          "navbar_create_text": white,
          "navbar_create_text_hover": black,
          "navbar_create_text_active": black,
          "navbar_repetitorium_background": black,
          "navbar_repetitorium_background_hover": white,
          "navbar_repetitorium_background_active": white,
          "navbar_repetitorium_text": white,
          "navbar_repetitorium_text_hover": black,
          "navbar_repetitorium_text_active": black,
          "navbar_learn_background": black,
          "navbar_learn_background_hover": white,
          "navbar_learn_background_active": white,
          "navbar_learn_text": white,
          "navbar_learn_text_hover": black,
          "navbar_learn_text_active": black,
          "navbar_pool_background": black,
          "navbar_pool_background_hover": white,
          "navbar_pool_background_active": white,
          "navbar_pool_text": white,
          "navbar_pool_text_hover": black,
          "navbar_pool_text_active": black,
          "navbar_search_background": white,
          "navbar_search_text": black,
          "navbar_search_placeholder": $thm_orange,
          "navbar_search_icon": black,
          "navbar_help_background": black,
          "navbar_help_background_hover": white,
          "navbar_help_background_active": white,
          "navbar_help_text": white,
          "navbar_help_text_hover": black,
          "navbar_help_text_active": black,
          "navbar_backend_background": black,
          "navbar_backend_background_hover": white,
          "navbar_backend_text": white,
          "navbar_backend_text_hover": black,
          "navbar_notifications_background": black,
          "navbar_notifications_background_hover": white,
          "navbar_notifications_text": white,
          "navbar_notifications_text_hover": black,
          "navbar_profile_background": black,
          "navbar_profile_background_hover": white,
          "navbar_profile_background_active": white,
          "navbar_profile_text": white,
          "navbar_profile_text_hover": black,
          "navbar_profile_text_active": black,
          "navbar_profile_dropdown_background": black,
          "navbar_profile_dropdown_background_opacity": 0.9,
          "navbar_profile_dropdown_background_hover": black,
          "navbar_profile_dropdown_background_active": white,
          "navbar_profile_dropdown_text": white,
          "navbar_profile_dropdown_text_hover": white,
          "navbar_profile_dropdown_text_active": black,
          "navbar_logout_background": black,
          "navbar_logout_background_hover": $thm_orange,
          "navbar_logout_text": white,
          "navbar_logout_text_hover": black,
    //welcome page colors
          "welcome_page_login_label": white,
          "welcome_page_login_label_shadow": black,
          "footer_background":$thm_green,
          "footer_info_navigation_text": white,
          "footer_info_navigation_text_hover": white,
          "footer_info_navigation_text_active": white,
          "footer_info_navigation_background": $thm_green,
          "footer_info_navigation_background_hover": $thm_gray,
          "footer_info_navigation_background_active": $thm_gray,
          "footer_info_navigation_border": white,
          "footer_icon": white,
          "footer_icon_hover": $thm_gray,
          "footer_globe_dropdown_text": $thm_gray,
          "footer_globe_dropdown_background": white,
          "footer_globe_dropdown_text_hover": white,
          "footer_globe_dropdown_background_hover": $thm_gray,
          "footer_websocket_connected": white,
          "footer_websocket_connecting": $thm_orange,
          "footer_websocket_disconnected": $thm_red,
          "placeholder": $thm_orange,
          "inventory_background": $thm_gray,
          "inventory_text": $thm_orange,
    //info page colors
          "info_navigation_text": black,
          "info_navigation_text_active": white,
          "info_navigation_text_hover": white,
          "info_navigation_background": white,
          "info_navigation_background_active": black,
          "info_navigation_background_hover": black,
          "home_button_icon": black,
          "home_button_icon_hover": black,
          "info_content_header_text": white,
          "info_content_header_background": $thm_green,
          "info_content_body_text": $thm_gray,
          "info_content_body_background": LightGoldenRodYellow,
    //editor navigation colors
          "item_selection_border": $item_separator,
    //item lists colors
          "filter_navigation_icon": $thm_gray,
          "item_separator_border_bottom": $thm_gray,
          "infinite_scroll_background": $thm_gray,
          "infinite_scroll_icon": $thm_orange,
          "infinite_scroll_text": white,
          "item_background": $thm_gray,
          "item_icon": white,
          "item_icon_hover": $item_icon_hover,
          "item_author_text": black,
          "item_description_background": white,
          "item_description_text": black,
          "item_text": white,
          "item_content_link": white,
          "no_results_background": white,
          "no_results_text": black,
    //difficulty colors
          "button_difficulty0_note": $thm_orange,
          "button_difficulty1": #5cb85c,
          "button_difficulty2": #5bc0de,
          "button_difficulty3": #d9534f,
          "button_difficulty_inactive": $wild_sand_approx,
          "background_difficulty0_note": ivory,
          "background_difficulty0": LightGoldenRodYellow,
          "background_difficulty1": honeydew,
          "background_difficulty2": lightcyan,
          "background_difficulty3": mistyrose,
          "background_difficulty0_lines_note": #F8E1AE,
          "background_difficulty0_lines": PaleGoldenRod,
          "background_difficulty1_lines": rgba(92, 184, 92, 0.3),
          "background_difficulty2_lines": rgba(91, 192, 222, 0.3),
          "background_difficulty3_lines": rgba(217, 83, 79, 0.3),
          "background_white": $white,
          "background_white_lines": $thm_gray,
          "background_post_it": lightyellow,
          "background_post_it_lines": $thm_orange,
          "background_pink": lightpink,
          "background_pink_lines": $thm_red,
    //card list
          "card_list_number_background": black,
          "card_list_number_text": $white,
    //card-navigation colors
          "card_navigation_active_background": $primary,
          "card_navigation_active_text": white,
          "card_navigation_active_background_hover": $primary,
          "card_navigation_active_text_hover": white,
          "card_navigation_background": $btn_inactive,
          "card_navigation_text": $primary_text,
          "card_navigation_background_hover": $button_background_hover,
          "card_navigation_text_hover": $button_text_hover,
    //card colors
          "background_mobile_preview": $btn_inactive,
          "background_lecture": LightGoldenRodYellow,
          "background_hint": LightGoldenRodYellow,
          "background_hint_alternative": LightGoldenRodYellow,
          "lecture_presentation_header_lines": $thm_orange,
          "hint_presentation_header_lines": $thm_gray,
          "hint_alternative_presentation_header_lines": $thm_red,
          "hint_text": $thm_gray,
          "hint_text_alternative": $thm_gray,
          "hint_link": $thm_orange,
          "hint_link_alternative": $hyperlink,
          "hint_placeholder": $thm_green,
          "hint_placeholder_alternative": $thm_orange,
          "hint_header_border": $thm_orange,
          "hint_header_border_alternative": $thm_orange,
          "navigation_arrows": $thm_gray,
          "card_header_card_number": $thm_gray,
          "card_header_first_row": $thm_gray,
          "card_header_second_row": $thm_gray,
          "card_header_subject": $thm_gray,
          "card_header_subject_placeholder": $thm_orange,
          "card_content_zoom_button_active": $thm_orange,
          "card_content_zoom_slider_container_background": black,
          "card_content_zoom_slider_container_text": white,
          "card_content_zoom_slider_container_percentage": $thm_orange,
          "card_content_zoom_slider_container_bar": white,
          "card_content_zoom_slider_container_handle": $thm_orange,
    //card sidebar colors
          "card_sidebar_border": black,
          "card_sidebar_background" : white,
    //cardset colors
          "cardset_markdeep_background": LightGoldenRodYellow,
          "cardset_markdeep_header_border": $thm_orange,
          "cardset_markdeep_text": $thm_gray,
          "cardset_markdeep_link": $thm_orange,
          "cardset_markdeep_placeholder": $thm_green,
          "cardset_footer_navigation_background": $thm_gray,
          "cardset_footer_navigation_presentation_background": $thm_dark_blue,
          "cardset_footer_navigation_presentation_text": white,
          "cardset_footer_navigation_presentation_background_hover": $button_background_hover,
          "cardset_footer_navigation_presentation_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_background": $thm_green,
          "cardset_footer_navigation_learn_text": white,
          "cardset_footer_navigation_learn_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_leitner_background": none,
          "cardset_footer_navigation_learn_list_leitner_text": black,
          "cardset_footer_navigation_learn_list_leitner_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_leitner_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_wozniak_background": none,
          "cardset_footer_navigation_learn_list_wozniak_text": black,
          "cardset_footer_navigation_learn_list_wozniak_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_wozniak_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_choose_background": none,
          "cardset_footer_navigation_learn_list_choose_text": black,
          "cardset_footer_navigation_learn_list_choose_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_choose_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_progress_background": none,
          "cardset_footer_navigation_learn_list_progress_text": black,
          "cardset_footer_navigation_learn_list_progress_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_progress_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_reset_leitner_background": $thm_orange,
          "cardset_footer_navigation_learn_list_reset_leitner_text": white,
          "cardset_footer_navigation_learn_list_reset_leitner_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_reset_leitner_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_reset_wozniak_background": $thm_orange,
          "cardset_footer_navigation_learn_list_reset_wozniak_text": white,
          "cardset_footer_navigation_learn_list_reset_wozniak_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_reset_wozniak_text_hover": $button_text_hover,
          "cardset_footer_navigation_new_card_background": $thm_orange,
          "cardset_footer_navigation_new_card_text": white,
          "cardset_footer_navigation_new_card_background_hover": $button_background_hover,
          "cardset_footer_navigation_new_card_text_hover": $button_text_hover,
          "cardset_footer_navigation_import_cards_background": none,
          "cardset_footer_navigation_import_cards_text": black,
          "cardset_footer_navigation_import_cards_background_hover": $button_background_hover,
          "cardset_footer_navigation_import_cards_text_hover": $button_text_hover,
          "cardset_footer_navigation_edit_shuffle_background": $thm_orange,
          "cardset_footer_navigation_edit_shuffle_text": white,
          "cardset_footer_navigation_edit_shuffle_background_hover": $thm_gray,
          "cardset_footer_navigation_edit_shuffle_text_hover": white,
          "cardset_footer_navigation_edit_cardset_background": none,
          "cardset_footer_navigation_edit_cardset_text": black,
          "cardset_footer_navigation_edit_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_edit_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_select_license_background": none,
          "cardset_footer_navigation_select_license_text": black,
          "cardset_footer_navigation_select_license_background_hover": $button_background_hover,
          "cardset_footer_navigation_select_license_text_hover": $button_text_hover,
          "cardset_footer_navigation_publish_cardset_background": none,
          "cardset_footer_navigation_publish_cardset_text": black,
          "cardset_footer_navigation_publish_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_publish_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_background": $thm_green,
          "cardset_footer_navigation_bonus_text": white,
          "cardset_footer_navigation_bonus_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_start_learning_background": $thm_green,
          "cardset_footer_navigation_bonus_list_start_learning_text": white,
          "cardset_footer_navigation_bonus_list_start_learning_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_start_learning_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_manage_learning_background": none,
          "cardset_footer_navigation_bonus_list_manage_learning_text": black,
          "cardset_footer_navigation_bonus_list_manage_learning_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_manage_learning_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_stop_learning_background": $thm_orange,
          "cardset_footer_navigation_bonus_list_stop_learning_text": white,
          "cardset_footer_navigation_bonus_list_stop_learning_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_stop_learning_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_show_stats_background": none,
          "cardset_footer_navigation_bonus_list_show_stats_text": black,
          "cardset_footer_navigation_bonus_list_show_stats_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_show_stats_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_cardset_background": none,
          "cardset_footer_navigation_manage_cardset_text": black,
          "cardset_footer_navigation_manage_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_manage_editors_background": none,
          "cardset_footer_navigation_manage_list_manage_editors_text": black,
          "cardset_footer_navigation_manage_list_manage_editors_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_manage_editors_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_report_background": none,
          "cardset_footer_navigation_manage_list_report_text": black,
          "cardset_footer_navigation_manage_list_report_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_report_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_leave_learn_phase_background": $thm_orange,
          "cardset_footer_navigation_manage_list_leave_learn_phase_text": white,
          "cardset_footer_navigation_manage_list_leave_learn_phase_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_leave_learn_phase_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_leave_cardset_background": $thm_orange,
          "cardset_footer_navigation_manage_list_leave_cardset_text": white,
          "cardset_footer_navigation_manage_list_leave_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_leave_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_leave_editors_background": $thm_orange,
          "cardset_footer_navigation_manage_list_leave_editors_text": white,
          "cardset_footer_navigation_manage_list_leave_editors_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_leave_editors_text_hover": $button_text_hover,
          "cardset_footer_navigation_export_cards_background": none,
          "cardset_footer_navigation_export_cards_text": black,
          "cardset_footer_navigation_export_cards_background_hover": $button_background_hover,
          "cardset_footer_navigation_export_cards_text_hover": $button_text_hover,
          "cardset_footer_navigation_delete_all_cards_background": $thm_red,
          "cardset_footer_navigation_delete_all_cards_text": white,
          "cardset_footer_navigation_delete_all_cards_background_hover": $button_background_hover,
          "cardset_footer_navigation_delete_all_cards_text_hover": $button_text_hover,
    //markdeep colors
          "markdeep_inline_code_background": $wild_sand_approx,
          "markdeep_inline_code_text": $thm_gray,
          "markdeep_blockquote_background": none,
          "markdeep_blockquote_text": $thm_gray,
          "markdeep_blockquote_author": $thm_gray,
          "markdeep_blockquote_quotes": $thm_orange,
    //markdeep editor colors
          "markdeep_help_text": $white,
          "markdeep_help_background": $thm_orange,
          "markdeep_help_border": $thm_orange,
    //notification colors
          "notification_text_smartphones": white,
    //search colors
          "search_results_content_background": LightGoldenRodYellow,
          "search_results_content_text": $thm_gray,
          "search_results_author_background": $thm_gray,
          "search_results_author_text": white,
          "search_results_separator": white,
          "search_divide:": $thm_gray,
    //form group colors
          "form_group_label": black,
    //cardset form colors
          "cardset_form_list_background": $athens_gray_approx,
          "cardset_form_list_text": black,
          "cardset_form_border": black,
          "cardset_form_list_background_hover": $btn_inactive,
          "cardset_form_list_text_hover": white,
          "cardset_form_list_background_active": $athens_gray_approx,
          "cardset_form_list_text_active": black,
    //cookie consent colors
          "cookie_consent_link": $thm_dark_blue,
    //under development modal colors
          "under_development_modal_text": white,
          "under_development_modal_background": $thm_orange,
    //presentation colors
          "presentation_clock_circle": black,
          "presentation_clock_background": white,
          "presentation_clock_center_circle": black,
          "presentation_clock_hour_marks": black,
          "presentation_clock_hour_arm": black,
          "presentation_clock_minute_arm": black,
          "presentation_clock_second_arm": $thm_red,
    //pomodoro colors
          "pomodoro_timer_hand_circle":$thm_orange,
          "pomodoro_timer_hand_hour":white,
          "pomodoro_timer_hand_min":white,
          "pomodoro_timer_arc":$thm_orange,
          "pomodoro_timer_arc_progress":$thm_red,
          "pomodoro_timer_arc_break":$thm_dark_blue,
          "pomodoro_timer_text" :white,
          "pomodoro_timer_text_highlight": $thm_orange,
    //sweet alert 2 colors
          "sweet_alert_2_title": black,
          "sweet_alert_2_text": black,
          "sweet_alert_2_modal_background": white,
          "sweet_alert_2_modal_overlay": rgba(0, 0, 0, 0.4),
          "sweet_alert_2_button_confirm_background": $thm_green,
          "sweet_alert_2_button_confirm_text": $white,
          "sweet_alert_2_button_cancel_background": $thm_orange,
          "sweet_alert_2_button_cancel_text": $white,
          "sweet_alert_2_icon_success_border": $thm_green,
          "sweet_alert_2_icon_success_text": $thm_green,
          "sweet_alert_2_icon_warning_border": $thm_orange,
          "sweet_alert_2_icon_warning_text": $thm_orange,
          "sweet_alert_2_icon_error_border": $thm_red,
          "sweet_alert_2_icon_error_text": $thm_red,
          "sweet_alert_2_icon_info_border": $thm_dark_blue,
          "sweet_alert_2_icon_info_text": $thm_dark_blue,
          "sweet_alert_2_icon_question_border": $thm_gray,
          "sweet_alert_2_icon_question_text": $thm_gray,
    //wordcloud tooltip
          "wordcloud_tooltip_text": $white,
          "wordcloud_tooltip_backgroud": $thm_gray,
          "wordcloud_tooltip_border": $white,
          "wordcloud_tooltip_divider": $white,
    //loading screen
          "loading_screen_icon": black
  );
}
