<template name="flashcardHeader">
    {{#if isCardset}}
        {{> flashcardHeaderDefault this}}
    {{/if}}
    {{#if isPresentation}}
        {{> flashcardHeaderPresentation this}}
    {{/if}}
    {{#if isMakingOf}}
        {{> flashcardHeaderDemo this}}
    {{/if}}
    {{#if isDemo}}
        {{> flashcardHeaderDemo this}}
    {{/if}}
    {{#if isEditMode}}
        {{> flashcardHeaderEditor this}}
    {{/if}}
    {{#if isBox}}
        {{> flashcardHeaderLeitner this}}
    {{/if}}
    {{#if isMemo}}
        {{> flashcardHeaderWozniak this}}
    {{/if}}
</template>

<template name="flashcardHeaderDefault">
            {{> flashcardHeaderDefaultLeft this}}
            {{> flashcardHeaderCenter this}}
            {{> flashcardHeaderDefaultRight this}}
</template>

<template name="flashcardHeaderPresentation">
        {{> flashcardHeaderPresentationLeft this}}
        {{> flashcardHeaderCenter this}}
        {{> flashcardHeaderPresentationRight this}}
</template>

<template name="flashcardHeaderDemo">
        {{> flashcardHeaderPresentationLeft this}}
        {{> flashcardHeaderCenter this}}
        {{> flashcardHeaderDemoRight this}}
</template>

<template name="flashcardHeaderEditor">
        {{> flashcardHeaderEditorLeft this}}
        {{> flashcardHeaderCenter this}}
        {{> flashcardHeaderEditorRight this}}
</template>

<template name="flashcardHeaderLeitner">
        {{> flashcardHeaderLeitnerLeft}}
        {{> flashcardHeaderCenter this}}
        {{> flashcardHeaderLeitnerRight this}}
</template>

<template name="flashcardHeaderWozniak">
        {{> flashcardHeaderWozniakLeft}}
        {{> flashcardHeaderCenter this}}
        {{> flashcardHeaderWozniakRight this}}
</template>
