<template name="helpContentCategoryBonus">

    <h1>Bonus</h1>

    <a href="/img/help/de/Bonus.jpg" data-lightbox="img-1"
       data-title="Bonusphase verwalten">
        <img src="/img/help/de/Bonus.jpg" alt="Bonus"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Detailansichten:</strong> Klick die Drop-down-Menüs an,
            um alle Details des Repetitoriums und der Lernphase mit Bonusvergabe einzusehen.
        </li>
        <li><strong>Nachträgliche Zusammenstellung der Karteien des Repetitoriums:</strong> Auch wenn die Bonusphase bereits läuft,
            kannst du weitere Karteien hinzufügen oder einzelne Karteien wieder herausnehmen. Wohlgemerkt, es handelt sich bei den Karteien nicht um Kopien dieser, sondern um Referenzen.
            Das heißt, wenn du Karten ändern willst, muss du das in der jeweiligen Kartei tun.
        </li>
        <li><strong>Optionen der Bonus-Lernphase:</strong> Hier kannst du den Lernfortschritt der Lernenden des Repetitoriums einsehen und als Excel-Tabelle exportieren.
            In der Tabelle wird die Anzahl der Karten gemäß der 5-Fächer-Lernkarteimethode von Leitner in den einzelnen Fächern, hier Boxen genannt, aufgeführt.
            Die Tabelle dient dir als Lehrperson für die geordnete Bonusvergabe.
        </li>
    </ul>
</template>
