<template name="helpContentCategoryCardView">

    <h1>Kartei- und Kartenoptionen</h1>

    <a href="/img/help/de/Karte.jpg" data-lightbox="img-1"
       data-title="Kartei- und Kartenoptionen">
        <img src="/img/help/de/Karte.jpg" alt="Karte"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Karteioptionen: </strong>Alle Optionen zur ausgewählten Kartei findest du in dieser Werkzeugleiste.
            Wenn du die Kartei angelegt oder importiert hast, siehst du zahlreiche Optionen.
            Probier sie in Ruhe aus.
            Und keine Angst, bevor du irgendetwas löscht, wirst du gefragt, ob du das auch willst.
        </li>
        <li><strong>Seitennavigation: </strong>Wenn die Karte mehrere Seiten hat, werden sie hier als Tabs angezeigt.
            Du wechselst die Seitenansicht per Klick oder mit der Tabtaste.
        </li>
        <li><strong>Kartenoptionen: </strong>Mit dem Stift-Icon kommst du zum Karteneditor.
            Welche Karten in der Kartei vorhanden sind, zeigt dir ein Klick auf den Listen-Button.
            Dort kannst direkt zu einer anderen Karte wechseln.
        </li>
    </ul>
</template>
