<template name="learnAlgorithmAccess">
    {{#if hasPermission}}
        {{#if isInBonusAndProfileIncomplete}}
            {{> accessDenied}}
        {{else}}
            {{> learnAlgorithms}}
        {{/if}}
    {{else}}
        <h4>{{_ "permission"}}</h4>
    {{/if}}
</template>

<template name="learnAlgorithms">
    {{> pomodoroTimerModal}}
    {{#if noCards}}
        <div class="col-xs-12">
            {{> flashcardsEmpty}}
        </div>
    {{else}}
        {{#if isFinished}}
            <div class="col-xs-12">
                {{> flashcardsEnd}}
            </div>
        {{else}}
            <div class="col-xs-12">
                {{> learnAnswerOptions}}
                {{> cardNavigation}}
            </div>
            <div class="col-xs-12">
                {{> flashcards cardset=this}}
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="learnAnswerOptions">
    <div id="answerOptions">
        {{#unless isNavigationVisible}}
            {{#if isQuestionSide}}
                <div id="answerButtons" class="btn-group btn-group-justified">
                    <div class="btn-group" role="group">
                        <button id="learnShowAnswer" class="btn btn-success btn-block btn-raised answer show-answer"
                                title="{{_ "wozniak.show"}}" {{isPomodoroBreakActive}}>{{_ "wozniak.show"}} {{#if
                                fullscreenActive}}
                            <span class="hidden-xs">( {{_ "key" key='y'}} )</span>{{/if}}</button>
                    </div>
                    {{#unless gotOneCardLeft}}
                        <div class="btn-group" role="group">
                            <button href="#" id="skipAnswer"
                                    class="btn btn-danger btn-block btn-raised answer show-answer"
                                    title="{{_ "wozniak.skip"}}" {{isPomodoroBreakActive}}>{{_ "wozniak.skip"}} {{#if
                                    fullscreenActive}}
                                <span class="hidden-xs">( {{_ "arrowKeys"}} )</span>{{/if}}</button>
                        </div>
                    {{/unless}}
                </div>
            {{else}}
                <div id="learn-navigation" class="btn-group btn-group-justified">
                    {{#if isActiveRoute 'box'}}
                        <div class="btn-group" role="group">
                            <button class="btn btn-raised btn-warning answer card-fail" id="notknown"
                                    title="{{_ "notknow"}}" {{isPomodoroBreakActive}}>{{_
                                    "notknow"}} {{#if fullscreenActive}}
                                <span class="hidden-xs">( {{_ "key" key='n'}} )</span>{{/if}}</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-raised btn-success answer card-success" id="known"
                                    title="{{_ "know"}}" {{isPomodoroBreakActive}}>{{_
                                    "know"}} {{#if fullscreenActive}}
                                <span class="hidden-xs">( {{_ "key" key='y'}} )</span>{{/if}}</button>
                        </div>
                    {{/if}}
                    {{#if isActiveRoute 'memo'}}
                        <div class="btn-group">
                            <button id="memoRate0" class="btn btn-warning btn-raised btn-warning rate-answer wrong"
                                    data-id="0"
                                    data-toggle="tooltip" title="{{_ "wozniak.answer.0"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.0"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.0Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="memoRate1" class="btn btn-default btn-raised rate-answer wrong" data-id="1"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.1"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.1"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.1Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="memoRate2" class="btn btn-default btn-raised rate-answer" data-id="2"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.2"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.2"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.2Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="memoRate3" class="btn btn-default btn-raised rate-answer" data-id="3"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.3"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.3"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.3Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="memoRate4" class="btn btn-default btn-raised rate-answer" data-id="4"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.4"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.4"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.4Mobile"}}</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="memoRate5" class="btn btn-default btn-raised btn-success rate-answer"
                                    data-id="5"
                                    data-toggle="tooltip"
                                    title="{{_ "wozniak.answer.5"}}"><span class="hidden-xs">{{_
                                    "wozniak.answer.5"}}</span>
                                <span class="visible-xs">{{_ "wozniak.answer.5Mobile"}}</span>
                            </button>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{else}}
            <div class="btn-group btn-group-raised btn-group-justified disabledAnswer">
                <a href="#" class="btn btn-raised answer show-answer">&nbsp;</a>
            </div>
        {{/unless}}
    </div>
</template>

<template name="learnBackButton">
    <br>
    <button class="btn btn-block btn-raised btn-danger" id="backButton">
        <span class="pull-left"><i class="fa fa-arrow-left"></i> {{_ "backbutton"}}</span>
    </button>
</template>
