.learn-box {
  width: 100%;
  margin-top: 10px;
}

.back-button {
  width: 100%;
  margin-top: 10px;
}

#subject1 {
  margin-top: 0;
}

#cardsetName {
  margin: 0;
}

#cardsetDesc {
  font-style: italic;
}

#cardsetCreated {
  padding-left: 0;
}

.learn-cardHelptext {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.memoRate button {
  margin: 5px 0;
}

#memoRate1 {
  border-right: 4px solid;
}

#answerOptions {
  top: 0;
  z-index: 15;
  @media(max-width: 767px) {
    a, button {
      font-size: $font_size_card_navigation_mobile !important;
      padding: $padding_vertical_card_navigation_mobile $padding_horizontal_card_navigation_mobile !important;
    }
  }
}

.disabledAnswer {
  opacity: 0;
}

#boxChart {
  height: 550px !important;
  @media(max-width: 767px) {
    height: 240px !important;
  }
}
