<template name="progress">
    <div class="container">
        <div class="well">
            {{> graph}}
        </div>
        <button class="btn btn-block btn-raised btn-danger" id="backButton">
                        <span class="pull-left">{{#if isStatsOwner}}{{_ "backbutton"}}{{else}}{{_
                                "backbuttonStatistics"}}{{/if}}</span>
        </button>
    </div>
</template>

<template name="graph">
    <h4>{{getChartTitle}}</h4>
    {{#unless isActiveRoute regex="profileOverview"}}
        {{> graphCardsetFilter}}
        <div class="col-xs-12">{{{getMaxWorkload}}}</div>
    {{/unless}}
    <canvas id="boxChart" data-box1="{{countBox 1}}"
            data-box2="{{countBox 2}}" data-box3="{{countBox 3}}" data-box4="{{countBox 4}}"
            data-box5="{{countBox 5}}" data-box6="{{countBox 6}}"></canvas>
</template>

<template name="graphCardsetFilter">
    {{#if isShuffledCardset}}
        <div id="setLeitnerProgressCardsetFilter">
            <label id="setCardsetFiterlLabel" class="col-sm-4 control-label" for="setCardsetFiter">{{_
                    "leitnerProgress.index"}}</label>
            <div class="dropdown">
                <div class="btn-group col-xs-12 col-sm-8">
                    <button id="setCardsetFiter" type="button"
                            class="btn btn-raised btn-default setCardsetFiterDropdown longButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"
                            value="-1">{{_ "leitnerProgress.indexDefault"}}
                    </button>
                    <button type="button"
                            class="btn btn-raised dropdown-toggle setCardsetFiterDropdown"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu btn-raised longButton">
                        <li class="cardset" value="-1" data="-1" data-name="{{_ "leitnerProgress.indexDefault"}}">
                            <a href="#">
                                <div id="activeCardset">
                                    {{_ "leitnerProgress.indexDefault"}}
                                </div>
                                <div class="col-xs-12 cardset-details">
                                        <span class="badge" title="{{_ "cardset.info.quantity"}}">
                                            {{getCardsets true}}
                                        </span>
                                </div>
                            </a>
                        </li>
                        {{#each getCardsets}}
                            <li class="cardset" value="{{this._id}}" data-id="{{this._id}}" data-name="{{this.name}}">
                                <a href="#">
                                    {{this.name}}
                                    <div class="col-xs-12 cardset-details">
                                        <span class="badge" title="{{_ "cardset.info.quantity"}}">
                                            {{this.quantity}}
                                        </span>
                                        {{{getCardTypeLabel this.cardType}}}
                                        {{{getDifficultyLabel this.cardType this.difficulty}}}
                                    </div>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    {{/if}}
</template>
