<template name="helpContentCategoryDemo">
    <a href="/img/Bildlogo.png"
       data-lightbox="img-1" data-title="Logo">
        <img src="/img/Bildlogo.png"
             alt="Logo von .cards" class="img-responsive center-block" width="75%"/>
    </a>

    <p>Schau dir die Demo-Kartei an und erfahre,
        wie du mit 🍅cards (sprich <strong>&laquo;dot cards&raquo;</strong>)
        das Wissen aus deinem Studium
        organisierst, lernst, memorierst und in Seminaren präsentierst.</p>

    <p>Erfahre, warum die Tomate 🍅 der Punkt in unserem Logo ist
        und warum sie der Mittelpunkt in deinem Studium sein sollte.</p>

    <br>
</template>
