<template name="filterIndex">
    {{> showLicense}}
    {{#if isActiveRoute regex='alldecks|repetitorium'}}
        {{> cardsetFormAdmin}}
    {{/if}}
    {{#if isActiveRoute regex='alldecks|create'}}
        {{> cardsetDeleteForm}}
        {{> cardsetForm}}
        {{> filterIndexCreate}}
    {{/if}}

    {{#if isActiveRoute regex='repetitorium'}}
        {{> cardsetDeleteForm}}
        {{> cardsetForm}}
        {{> filterIndexRepetitorium}}
    {{/if}}

    {{#if isActiveRoute 'learn'}}
        {{> filterIndexWorkload}}
    {{/if}}

    {{#if isActiveRoute 'shuffle'}}
        {{> cardsetForm}}
        {{> filterIndexShuffle}}
    {{/if}}

    {{#if isActiveRoute 'pool'}}
        {{> filterIndexPool}}
    {{/if}}
</template>

<template name="filterIndexPool">
    {{#if getDecks 0}}
        {{> filterNavigation}}
        {{#if displayWordcloud}}
            {{> wordcloud}}
        {{else}}
            {{#if getDecks 1}}
                {{#each getDecks 2}}
                    {{> filterIndexItemCardset extendContext 'index' @index}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        {{/if}}
    {{else}}
        {{> noResults}}
    {{/if}}
</template>

<template name="filterIndexShuffle">
    {{#if canShuffle}}
        <div class="container" id="set-list-region">
            <div class="bs-callout bs-callout-info selectionInfo">
                {{#if gotShuffledCards}}
                    <button href="#" id="updateShuffledCardset" class="btn btn-raised btn-success"
                            role="button" {{disableIfOffline}}>{{_
                            "set-list.shuffle"}}</button>
                {{/if}}
                <button id="cancelUpdateShuffle" class="btn btn-raised btn-danger" role="button">{{_
                        "declinecard"}}</button>
                <span class="text">
                    {{_ "set-list.shuffleInfoTextEdit"}}
                </span>
                {{#if displayRemoveButton}}
                    <button href="#" id="removeShuffledCards" class="btn btn-raised btn-danger"
                            role="button" {{disableIfOffline}}>{{_
                            "set-list.shuffleRemove"}}</button>
                {{/if}}
            </div>
            {{> filterNavigation}}
            {{#if shuffleList 1}}
                {{#each shuffleList 2}}
                    {{#unless isActiveCardset}}
                        {{> filterIndexItemCardset extendContext 'index' @index}}
                    {{/unless}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        </div>
    {{/if}}
</template>

<template name="filterIndexCreate">
    <div class="container" id="set-list-region">
        {{#if isActiveRoute 'create'}}
            <button id="newCardSet" type="button"
                    class="btn btn-raised btn-success saveSet" {{disableIfOffline}} {{disableIfShuffle}}>
                {{_ "set-list-empty.newset"}}
            </button>
            <label class="btn btn-raised btn-import btn-success {{disableIfOffline}}">
                {{_ "import.cardset"}} <input type="{{#if isProfileComplete}}file{{else}}button{{/if}}" id="{{#if
                    isProfileComplete}}importCardset{{else}}importCardsetCompleteProfile{{/if}}" style="display: none;">
            </label>
        {{/if}}
        {{#if cardsetList 0}}
            {{> filterNavigation}}
            {{#if displayWordcloud}}
                {{> wordcloud}}
            {{else}}
                {{#if cardsetList 1}}
                    {{#each cardsetList 2}}
                        {{> filterIndexItemCardset extendContext 'index' @index}}
                    {{/each}}
                    {{> infiniteScroll}}
                {{else}}
                    {{> noFilterResults}}
                {{/if}}
            {{/if}}
        {{else}}
            {{> noResults}}
        {{/if}}
    </div>
</template>

<template name="filterIndexRepetitorium">
    <div class="container" id="set-list-region">
        {{#unless selectingCardsetToLearn}}
            {{#if canCreateContent}}
                <button id="newRepetitorium" type="button"
                        class="btn btn-raised btn-success saveSet hidden-xs" {{disableIfOffline}} {{disableIfShuffle}}>
                    {{_ "set-list.shuffleCardsets"}}
                </button>
            {{else}}
                <div class="empty-button-placeholder"></div>
            {{/if}}
        {{/unless}}
        {{#if cardsetList 0}}
            {{> filterNavigation}}
            {{#if displayWordcloud}}
                {{> wordcloud}}
            {{else}}
                {{#if cardsetList 1}}
                    {{#each cardsetList 2}}
                        {{> filterIndexItemCardset extendContext 'index' @index}}
                    {{/each}}
                    {{> infiniteScroll}}
                {{else}}
                    {{> noFilterResults}}
                {{/if}}
            {{/if}}
        {{else}}
            {{> noResults}}
        {{/if}}
    </div>
</template>

<template name="filterIndexWorkload">
    {{> selectModeForm}}
    {{> cardsetsConfirmLearnForm}}
    <div id="learn-list-region" class="container">
        <a id="browseCardset" class="btn btn-raised btn-success">{{_
                "set-list-learn-empty.browseCardset"}}</a>
        <a id="browseShuffledCardset" class="btn btn-raised btn-success">{{_
                "set-list-learn-empty.browseCourse"}}</a>
        {{#if learnList 0}}
            {{> filterNavigation}}
            {{#if learnList 1}}
                {{#each learnList 2}}
                    {{> filterIndexItemCardset extendContext 'index' @index}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        {{else}}
            {{> noResults}}
        {{/if}}
    </div>
</template>
